<div class="routerComponent">
    <div class="title">
        <h1>Formulación POA</h1>
    </div>

    <div class="fuctionContent">
        <span>
            <button mat-stroked-button [routerLink]="['/dashboard/formulacion/actividades-involucradas']"><mat-icon>groups</mat-icon>Actividades Compartidas</button>
        </span>
        <span>
            <button class="downLoadButton" mat-stroked-button><mat-icon>arrow_downward</mat-icon>Planificación
                POA</button> &nbsp;
            <button class="downLoadButton" mat-stroked-button><mat-icon>arrow_downward</mat-icon>Compras PACC</button>
            &nbsp;
            <button class="downLoadButton" mat-stroked-button><mat-icon>arrow_downward</mat-icon>Prosupuesto</button>
        </span>
    </div>

    <div class="EjeFiltrosProductoContainer">
        <div class="filtrosContainer" [formGroup]="filterForm">
            <div class="filtrosTitleContainer">
                <h3>Filtros</h3>
                <div *ngIf="!ejesEstrategicos && !estrategias && !resultadosEfecto" class="loader"></div>
            </div>
            <div class="noData" *ngIf=" ejesEstrategicos && estrategias && resultadosEfecto && ejesEstrategicos.length == 0 && estrategias.length == 0 && resultadosEfecto.length == 0">
                <img *ngIf="" style="width: 100%;" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos">
            </div>
            <div class="filtrosSection" *ngIf="ejesEstrategicos">
                <h4>Ejes estratégico</h4>
                <mat-radio-group formControlName="ejesEstrategico">
                    <mat-radio-button *ngFor="let ejeEstrategico of ejesEstrategicos" [value]="ejeEstrategico.id"
                        color="primary">
                        {{ejeEstrategico.nombre}}
                    </mat-radio-button><br>
                    <mat-radio-button *ngIf="resultadosEfecto.length > 1" [value]="null"
                        color="primary">Todos</mat-radio-button><br>
                </mat-radio-group>
            </div>
            <div class="filtrosSection" *ngIf="estrategias">
                <h4>Estrategias</h4>
                <mat-radio-group formControlName="estrategias">
                    <mat-radio-button *ngFor="let estrategia of estrategias" [value]="estrategia.id" color="primary">
                        {{estrategia.nombre}}
                    </mat-radio-button><br>
                    <mat-radio-button *ngIf="resultadosEfecto.length > 1" [value]="null"
                        color="primary">Todos</mat-radio-button><br>
                </mat-radio-group>
            </div>
            <div class="filtrosSection" *ngIf="resultadosEfecto">
                <h4>Resultado efecto</h4>
                <mat-radio-group formControlName="resultadoEfecto">
                    <mat-radio-button *ngFor="let resultadoEfecto of resultadosEfecto" [value]="resultadoEfecto.id"
                        color="primary">
                        {{resultadoEfecto.nombre}}
                    </mat-radio-button><br>
                    <mat-radio-button *ngIf="resultadosEfecto.length > 1" [value]="null"
                        color="primary">Todos</mat-radio-button><br>
                </mat-radio-group>
            </div>
        </div>
        <div class="ejeProductoContainer">
            <div class="EjeContainer">
                <div class="ejeSection" *ngIf="filterForm.value.ejesEstrategico > 0">
                    <div>
                        <h3>Eje:</h3>
                        <p>{{selectedEjesEstrategico.nombre}}</p>
                    </div>
                    <div class="middleSection">
                        <h3>Objetivo Estratégico:</h3>
                        <p>{{selectedEjesEstrategico.objetivo}}</p>
                    </div>

                </div>
                <div class="ejeSection estrategiaResultado" *ngIf="filterForm.value.estrategias > 0">
                    <div>
                        <h3>Estrategia:</h3>
                        <p>{{selectedEstrategia.nombre}}</p>
                    </div>
                    <div class="middleSection" *ngIf="filterForm.value.resultadoEfecto > 0">
                        <h3>Resultado efecto:</h3>
                        <p>{{selectedResultadoE.nombre}}</p>
                    </div>
                </div>
                <div class="ejeSectionTotal">
                    <span></span>
                    <span style="display: flex;">
                        <div class="checkPresupuesto">
                            <div class="titlePresupuesto">
                                <h3>Presupuesto total</h3>
                            </div>
                            <div class="amountPresupuesto">
                                <h3>{{presupuestosUnidad?.monto ?? 0 | currency: 'DOP ': 'symbol':'1.2-2'}}</h3>
                            </div>
                        </div>
                        <div class="checkPresupuesto">
                            <div class="titlePresupuesto">
                                <h3>Presupuesto disponible</h3>
                            </div>
                            <div class="amountPresupuesto">
                                <h3>{{presupuestosUnidad?.montoRestante ?? 0 | currency: 'DOP ': 'symbol':'1.2-2'}}</h3>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

            <div class="ProductoContainer">
                <h1>Productos</h1>
                <div class="producto" *ngFor="let producto of productos">
                    <div class="titleProducto">
                        <span>
                            <h3>Producto:</h3>
                            <h4>{{producto.nombre}}</h4>
                        </span>
                        <span style="display: flex; ">
                            <h4><span style="font-weight: 500;">Presupuesto total estimado:</span>
                                {{producto.totalConsumido | currency: 'DOP ': 'symbol':'1.2-2'}}</h4>
                            <mat-icon class="editIcon" (click)="enviarProducto(producto.id)">list</mat-icon>
                        </span>
                    </div>
                    <div>
                        <table>
                            <thead class="headerTable">
                                <tr class="headerRow">
                                    <th class="headerCell">Indicador</th>
                                    <th class="headerCell" style="width: 15%;">Línea Base</th>
                                    <th class="headerCell" style="width: 15%;">Meta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="dataRow" *ngFor="let indicador of producto.indicadoresGestion">
                                    <td class="dataCell"> {{indicador.nombre}} </td>
                                    <td class="dataCell"> {{indicador.lineaBase}}%</td>
                                    <td class="dataCell"> {{indicador.meta}}% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <charging-box *ngIf="!productos" ></charging-box>

                <div class="noData" *ngIf="productos && productos.length == 0">
                    <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos">
                </div>
            </div>
        </div>
    </div>
</div>