<div class="routerComponent">
    <div class="title">
        <h1>Formulación POA</h1>
    </div>

    <div class="fuctionContent">
        <span></span>
        <span>
            <button class="downLoadButton" mat-stroked-button class="downLoadButton"><mat-icon>arrow_downward</mat-icon>Mi área de trabajo</button> &nbsp;
            <button class="downLoadButton" mat-stroked-button class="downLoadButton"><mat-icon>arrow_downward</mat-icon>Mi área de trabajo</button> &nbsp;
            <button class="downLoadButton" mat-stroked-button class="downLoadButton"><mat-icon>arrow_downward</mat-icon>Mi área de trabajo</button>
        </span>
    </div>

    <div class="EjeFiltrosProductoContainer">
        <div class="filtrosContainer">

        </div>
        <div class="ejeProductoContainer">
            <div class="EjeContainer">
                
            </div>
            <div class="ProductoContainer">
                <h1>Productos</h1>

                <div class="producto">

                </div>
                
                <div class="producto">
                    
                </div>
            </div>
        </div>
    </div>
</div>