.checkPresupuesto {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    border: 1px solid #aaa;
    margin: 0;
    margin-left: 5px;
}

.rowBIcon{
    font-size: 45px; 
    width: 45px; 
    height: 45px;
}

.rowBIcon:hover{
    color: #004b8d;
}