<div style="padding: 15px;">
  <h2 class="mantenimientoTitle" >Productos</h2>
  <div>
    <form [formGroup]="productosForm" (ngSubmit)="saveChangesButton()">

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 100%;">
        <mat-label>Nombre del Producto</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>

      <button type="submit" class="greenButton">Guardar cambios</button>

    </form>

    <h2 style=" margin-top: 15px;" class="mantenimientoTitle">Listado de productos</h2>

    <div style="border:1px solid  #ccc ;">

      <div>
        <table>
          <thead class="headerTable">
            <tr class="headerRow" style="background-color: #95ade93f;">
                <th class="headerCell">Producto</th>
                <th class="headerCell" style="width: 10%;"></th>
                <th class="headerCell" style="width: 10%;"></th>
            </tr>
        </thead>
          <tbody>
            <tr class="dataRow" *ngFor="let producto of productos">
              <td class="dataIndiCell">{{producto.nombre}}</td>
              <td class="dataIndiCell"><mat-icon (click)="setValueEditProducto(producto)" class="editIcon">edit</mat-icon></td>
              <td class="dataIndiCell"><mat-icon (click)="deleteProducto(producto.id)" class="removeIcon">delete</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
