<div style="padding: 15px;">
  <h2 class="Stitle" >Productos</h2>
  <div>
    <form [formGroup]="productosForm" (ngSubmit)="saveChanges()">
      
      <mat-form-field appearance="fill" style="width: 39%;">
        <mat-label>Indicador estrategico</mat-label>
        <mat-select formControlName="idIndicadorEstrategico" disableRipple>
          <ng-container *ngIf="indicadoresEstrategicos.length > 0; else noIndicadoresE">

            <mat-option [value]="indicadorE.id" *ngFor="let indicadorE of indicadoresEstrategicos">
              {{indicadorE.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noIndicadoresE>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field  appearance="fill" style="width: 60%;">
        <mat-label>Nombre del Producto</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Responsable</mat-label>
        <mat-select formControlName="responsables" disableRipple multiple>
          <ng-container *ngIf="unidadesOrg.length > 0; else noUnidadOrg">

            <mat-option [value]="unidadOrg.id" *ngFor="let unidadOrg of unidadesOrg">
              {{unidadOrg.nombre}}
            </mat-option>

          </ng-container>
          <ng-template #noUnidadOrg>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field><br>

      <button type="submit" class="greenButton">Guardar cambios</button> &nbsp;
      <button (click)="productosForm.reset()" *ngIf="productosForm.value.id" class="cleanButton">Limpiar edición</button>

    </form>

    <h2 style=" margin-top: 15px;" class="Stitle">Listado de productos</h2>

    <div style="border:1px solid  #ccc ;">
      <div>
        <table>
          <thead class="headerTable">
            <tr class="headerRow" style="background-color: #95ade93f;">
                <th class="headerCell">Indicador Estrategicos</th>
                <th class="headerCell">Producto</th>
                <th class="headerCell">Responsables</th>
                <th class="headerCell" style="width: 10%;"></th>
                <th class="headerCell" style="width: 10%;"></th>
            </tr>
        </thead>
          <tbody>
            <tr class="dataRow" *ngFor="let producto of productos">
              <td class="dataIndiCell">{{producto.indicadorEstrategico.nombre}}</td>
              <td class="dataIndiCell">{{producto.nombre}}</td>
              <td class="dataIndiCell"><mat-icon (click)="openModal(producto)" class="detailsIcon">list</mat-icon></td>
              <td class="dataIndiCell"><mat-icon (click)="setValueEditProducto(producto)" class="editIcon">edit</mat-icon></td>
              <td class="dataIndiCell"><mat-icon (click)="deleteProducto(producto.id)" class="removeIcon">delete</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
