<div class="modal">
    <div class="fuctionContent">
        <h2 class="Stitle">Responsables</h2>
        <h2 style="color: #aaa;">{{entidad.nombre}}</h2>
    </div>

    <div>
        <div style="border:1px solid  #ccc ;">

            <table>
                <thead class="headerTable">
                    <tr class="headerRow" style="background-color: #95ade93f;">
                        <th class="headerCell">Unidad Organizativa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow" *ngFor="let responsable of entidad.responsables">
                        <td class="dataIndiCell">{{responsable.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>