<div class="modal">
    <div class="fuctionContent">
        <h2 class="Stitle">{{propiedad.nombre}}</h2>
        <h2 style="color: #aaa;">{{propiedad.entidad}}</h2>
    </div>

    <div>
        <div style="border:1px solid  #ccc ;">

            <table>
                <thead class="headerTable">
                    <tr class="headerRow" style="background-color: #95ade93f;">
                        <th class="headerCell">Elementos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow" *ngFor="let elemento of propiedad.elementoList">
                        <td class="dataIndiCell">{{elemento.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>