<div class="routerComponent">

  <div class="title">
    <h1>Mantenimiento</h1>
  </div>

  <div class="fuctionContent" style="padding: 0 5px 0 15px;">
    <h2>POA / PEI</h2>
    <button class="orangeButton" style="padding: 0 25px;" [routerLink]="['../mantenimientoPei']">Configuración</button>
  </div>

  <div class="mantenimientoContainer">

    <div class="mantenimientoOptions">

      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['ejesI'] } }]" routerLinkActive="active">
        <mat-icon>settings</mat-icon>Ejes
      </a>
      
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['estrategias'] } }]" routerLinkActive="active">
        <mat-icon>settings</mat-icon>Estrategias
      </a>
      
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['resultadoEfecto']}}]" routerLinkActive="active">
        <mat-icon>settings</mat-icon>Resultado efecto
      </a>

      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['indicadoresEstrategicos']}}]" routerLinkActive="active">
        <mat-icon>settings</mat-icon>Indicadores estratégicos
      </a>
      
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['productos'] } }]" routerLinkActive="active">
        <mat-icon>settings</mat-icon>Productos
      </a>
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['indicadoresGestion'] } }]"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>Indicadores operativos
      </a>

    </div>

    <div class="mantenimientoForms">
      <router-outlet name="mantenimiento"></router-outlet>
    </div>

  </div>
</div>