<div style="padding: 15px;">
  <h2 class="Stitle" >Indicadores de Gestion</h2>
  <div>
    <form [formGroup]="indicadoresGestionForm" (ngSubmit)="saveChanges()" >

      <mat-form-field appearance="fill" style="width:49%;">
        <mat-label>Producto</mat-label>
        <mat-select formControlName="idProducto" disableRipple>
          <ng-container *ngIf="productos.length > 0; else noProductos">

            <mat-option [value]="producto.id" *ngFor="let producto of productos">
              {{producto.nombre}}
          </mat-option>

          </ng-container>
          <ng-template #noProductos>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width:50%;">
        <mat-label>Estructura programatica</mat-label>
        <mat-select formControlName="idEstructuraProgramatica" disableRipple>
          <ng-container *ngIf="productos.length > 0; else noEstructuraPro">

            <mat-option [value]="estructuraPro.id" *ngFor="let estructuraPro of estructurasPro">
              {{estructuraPro.nombre}}
          </mat-option>

          </ng-container>
          <ng-template #noEstructuraPro>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field><br>

      <div class="tipoIndicador">
        <h4>Indique el tipo de indicador?</h4>
        <mat-radio-group formControlName="idTipoIndicador">
          <mat-radio-button [value]="1" color="primary">Indicador de flujo</mat-radio-button> <!--matTooltip="Todos Los productos seran calculados con un 18% de ITBIS." [disabled]="disableItbis" -->
          <mat-radio-button [value]="2" color="primary">Indicador Acumulativo</mat-radio-button> <!--matTooltip="Los productos tomaran el porcentaje de ITBIS especificado al momento de la creación." [disabled]="disableItbis"-->
        </mat-radio-group>
      </div><br>
      
      <mat-form-field hideRequiredMarker appearance="fill" style="width: 42%;">
        <mat-label>Nombre indicador operador</mat-label>
        <input matInput  formControlName="nombre">
      </mat-form-field>&nbsp;
      
      <mat-form-field hideRequiredMarker appearance="fill" style="width: 35%;">
        <mat-label>Medio de verificacion</mat-label>
        <mat-select formControlName="idAlcance" disableRipple>
          <ng-container *ngIf="alcances.length > 0; else noAlcance">

            <mat-option [value]="alcance.id" *ngFor="let alcance of alcances">
              {{alcance.nombre}}
            </mat-option>

          </ng-container>
          <ng-template #noAlcance>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 11.2%;">
        <mat-label>Linea Base</mat-label>
        <input type="number" formControlName="linaBase" matInput>
      </mat-form-field>&nbsp;
      
      <mat-form-field hideRequiredMarker appearance="fill" style="width: 9.2%;">
        <mat-label>Meta</mat-label>
        <input type="number" formControlName="meta" matInput>
      </mat-form-field><br>

      <mat-form-field appearance="fill" style="width: 19.2%;">
        <mat-label>Alcance</mat-label>
        <mat-select formControlName="idAlcance" disableRipple>
          <ng-container *ngIf="alcances.length > 0; else noAlcance">

            <mat-option [value]="alcance.id" *ngFor="let alcance of alcances">
              {{alcance.nombre}}
            </mat-option>

          </ng-container>
          <ng-template #noAlcance>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 19.2%;">
        <mat-label>Frencuencia</mat-label>
        <mat-select formControlName="idFrecuencia" disableRipple>
          <ng-container *ngIf="frecuencias.length > 0; else noFrecuencia">

            <mat-option [value]="frecuencia.id" *ngFor="let frecuencia of frecuencias">
              {{frecuencia.nombre}}
            </mat-option>

          </ng-container>
          <ng-template #noFrecuencia>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 60%;">
        <mat-label>Responsable</mat-label>
        <mat-select formControlName="idUnidadOrganizativa" disableRipple>
          <ng-container *ngIf="unidadesOrg.length > 0; else noResP">

            <mat-option [value]="unidadOrg.id" *ngFor="let unidadOrg of unidadesOrg">
              {{unidadOrg.nombre}}
            </mat-option>

          </ng-container>
          <ng-template #noResP>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field><br>

      <button type="submit" class="greenButton">Guardar cambios</button>&nbsp;
      <button (click)="indicadoresGestionForm.reset()" *ngIf="indicadoresGestionForm.value.id" class="cleanButton">Limpiar edición</button>

    </form>

    <h2 style=" margin-top: 15px;" class="Stitle">Listado de Indicadores de Gestion</h2>

    <div style="border:1px solid  #ccc ;">

      <div>
        <table>
          <thead class="headerTable">
            <tr class="headerRow" style="background-color: #95ade93f;">
                <th class="headerCell">Indicador de gestión</th>
                <th class="headerCell">Producto</th>
                <th class="headerCell">Alcance</th>
                <th class="headerCell">Frecuencia</th>
                <th class="headerCell">Linea Base</th>
                <th class="headerCell">Meta</th>
                <th class="headerCell">Responsables</th>
                <th class="headerCell" style="width: 6%;"></th>
                <th class="headerCell" style="width: 6%;"></th>
            </tr>
        </thead>
          <tbody>
            <tr class="dataRow" *ngFor="let indicadorG of indicadoresGestion">
              <td class="dataIndiCell">{{indicadorG.nombre}}</td>
              <td class="dataIndiCell">{{indicadorG.producto.nombre}}</td>
              <td class="dataIndiCell">{{indicadorG.alcance.nombre}}</td>
              <td class="dataIndiCell">{{indicadorG.frecuencia.nombre}}</td>
              <td class="dataIndiCell">{{indicadorG.linaBase}}</td>
              <td class="dataIndiCell">{{indicadorG.meta}}</td>
              <td class="dataIndiCell">{{indicadorG.responsables[0].nombre}}</td>
              <td class="dataIndiCell"><mat-icon (click)="setValueEditIndicadoresGestion(indicadorG)" class="editIcon">edit</mat-icon></td>
              <td class="dataIndiCell"><mat-icon (click)="deleteIndicadoresGestion(indicadorG.id)" class="removeIcon">delete</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
