<div style="padding: 15px;">
  <h2 class="mantenimientoTitle" >Indicadores de Gestion</h2>
  <div>
    <form [formGroup]="indicadoresGestionForm" (ngSubmit)="saveChangesButton()" >

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 49%;">
        <mat-label>Indicador de gestión</mat-label>
        <input matInput>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width:50%;">
        <mat-label>Producto</mat-label>
        <mat-select formControlName="idProducto" disableRipple>
          <ng-container *ngIf="productos.length > 0; else noProductos">

            <mat-option [value]="producto.id" *ngFor="let producto of productos">
              {{producto.nombre}}
          </mat-option>

          </ng-container>
          <ng-template #noProductos>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 49%;">
        <mat-label>Indicador estrategico</mat-label>
        <mat-select formControlName="idIndicadorEstrategico" disableRipple>
          <ng-container *ngIf="indicadoresEstrategicos.length > 0; else noIndicadoresE">

            <mat-option [value]="indicadorE.id" *ngFor="let indicadorE of indicadoresEstrategicos">
              {{indicadorE.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noIndicadoresE>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 25%;">
        <mat-label>Alcance</mat-label>
        <mat-select formControlName="idAlcance" disableRipple>
          <ng-container *ngIf="alcances.length > 0; else noAlcance">

            <mat-option [value]="alcance.id" *ngFor="let alcance of alcances">
              {{alcance.nombre}}
            </mat-option>

          </ng-container>
          <ng-template #noAlcance>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 24%;">
        <mat-label>Frencuencia</mat-label>
        <mat-select formControlName="idFrecuencia" disableRipple>
          <ng-container *ngIf="frecuencias.length > 0; else noFrecuencia">

            <mat-option [value]="frecuencia.id" *ngFor="let frecuencia of frecuencias">
              {{frecuencia.nombre}}
            </mat-option>

          </ng-container>
          <ng-template #noFrecuencia>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 20%;">
        <mat-label>Meta general</mat-label>
        <input type="number" matInput>
      </mat-form-field><br>

      <button type="submit" class="greenButton">Guardar cambios</button>

    </form>

    <h2 style=" margin-top: 15px;" class="mantenimientoTitle">Listado de Indicadores de Gestion</h2>

    <div style="border:1px solid  #ccc ;">

      <div>
        <table>
          <thead class="headerTable">
            <tr class="headerRow" style="background-color: #95ade93f;">
                <th class="headerCell">Indicador de gestión</th>
                <th class="headerCell">Producto</th>
                <th class="headerCell">Alcance</th>
                <th class="headerCell">Frecuencia</th>
                <th class="headerCell">Meta</th>
                <th class="headerCell" style="width: 10%;"></th>
                <th class="headerCell" style="width: 10%;"></th>
            </tr>
        </thead>
          <tbody>
            <tr class="dataRow" *ngFor="let indicadorG of indicadoresGestion">
              <td class="dataIndiCell">{{indicadorG.nombre}}</td>
              <td class="dataIndiCell">{{indicadorG.producto.nombre}}</td>
              <td class="dataIndiCell">{{indicadorG.alcance.nombre}}</td>
              <td class="dataIndiCell">Frecuencia</td>
              <td class="dataIndiCell">Meta</td>
              <td class="dataIndiCell"><mat-icon (click)="setValueEditIndicadoresGestion(indicadorG)" class="editIcon">edit</mat-icon></td>
              <td class="dataIndiCell"><mat-icon (click)="deleteIndicadoresGestion(indicadorG.id)" class="removeIcon">delete</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
