<div class="routerComponent">

    <div class="title"><h1>Planes transversales</h1> </div>
    <div class="titleSeguimiento"> <h2>Gestor transversal</h2></div>
    
    <div class="ejeSectionTotal">
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <mat-select disableRipple [(ngModel)]="estado" (selectionChange)="getActividadesPerito()">
                    <mat-option [value]="false">Pendientes</mat-option>
                    <mat-option [value]="true">Aceptados</mat-option>
                    <mat-option [value]="null">Todos</mat-option>
                </mat-select>
        </mat-form-field>

        <span style="display: flex;">
            <div class="checkPresupuesto">
                <div class="titlePresupuesto"> <h3>Presupuesto total</h3> </div>
                <div class="amountPresupuesto"> <h3>{{presupuestosUnidad?.monto ?? 0 | currency: 'DOP ': 'symbol':'1.2-2'}}</h3> </div>
            </div>
            <div class="checkPresupuesto">
                <div class="titlePresupuesto"> <h3>Presupuesto disponible</h3> </div>
                <div class="amountPresupuesto"> <h3>{{presupuestosUnidad?.montoRestante ?? 0 | currency: 'DOP ': 'symbol':'1.2-2'}}</h3> </div>
            </div>
        </span>
    </div>

    <div *ngIf="actividadesPerito">
        <div class="producto" style="margin-top: 10px;" *ngFor="let actividad of actividadesPerito">
            <div class="titleProducto">
                <span style="display: flex; margin: 10px 0;">
                    <h3>Actividad:</h3> &nbsp;
                    <h3 style="font-weight: 400; font-size: 14px;">{{actividad.nombre}}</h3>
    
                    <h3 style="margin-left: 40px;">Prioridad:</h3> &nbsp;
                    <h3 style="font-weight: 400; font-size: 14px;">{{actividad.prioridad}}</h3>

                    <h3 style="margin-left: 40px;">Responsable:</h3> &nbsp;
                    <h3 style="font-weight: 400; font-size: 14px;">{{actividad.responsableUnidad.nombre}}</h3>
                </span>
                <span style="display: flex; ">
                    <h4><span style="font-weight: 500;">Presupuesto total estimado:</span> {{actividad.costeo.montoTotalTransversal | currency: 'DOP ': 'symbol':'1.2-2' }}</h4> &nbsp;
                </span>
            </div>
            <div>
                <table>
                    <thead class="headerTable">
                        <tr class="headerRow" *ngIf="actividad.costeo.costeoDetalle.length > 0" >
                            <th class="headerCell">Codigo</th>
                            <th class="headerCell">Insumo</th>
                            <th class="headerCell">Descripción</th>
                            <th class="headerCell">Unidad medida</th>
                            <th class="headerCell">Cantidad</th>
                            <th class="headerCell">Costo unitario</th>
                            <th class="headerCell">Presupuesto</th>
                            <th class="headerCell"></th>
                            <th class="headerCell"></th>
                        </tr>
                        <tr class="headerRow" *ngIf="actividad.costeo.costeoDetalle.length == 0">
                            <th class="headerCell">No se encontraron Insumos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dataRow" [ngStyle]="{'background-color': insumos.peritoAceptacion ? 'rgba(0, 128, 0, 0.100)': ''}" *ngFor="let insumos of actividad.costeo.costeoDetalle">
                            <td class="dataCell">{{insumos.insumo.id}}</td>
                            <td class="dataCell">{{insumos.insumo.nombre}}</td>
                            <td class="dataCell">{{insumos.descripcionInsumo}}</td>
                            <td class="dataCell">{{insumos.unidadMedida.nombre}}</td>
                            <td class="dataCell">{{insumos.cantidad}}</td>
                            <td class="dataCell" *ngIf="insumos.costoUnitario != null; else noCosteo"> {{insumos.costoUnitario | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                            <td class="dataCell" *ngIf="insumos.montoTotal != null; else noCosteo"> {{insumos.montoTotal | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                            <ng-template #noCosteo><td class="dataCell">{{0 | currency: 'DOP ': 'symbol':'1.2-2'}}</td></ng-template>
                            <td class="dataCell" style="width: 5%;">
                                <button mat-stroked-button *ngIf="!insumos.peritoAceptacion && permisosCRUD.permisoEditar(modulo.planes_transversales)" (click)="aceptInsumo(insumos, actividad.indicadorGestion.id)">
                                    <mat-icon class="editIcon">thumb_up</mat-icon> Aceptar
                                </button>
                            </td>
                            <td class="dataCell" style="width: 5%;"><mat-icon *ngIf="!insumos.peritoAceptacion && permisosCRUD.permisoEditar(modulo.planes_transversales)" (click)="sendDetailInsumo(insumos.id, actividad.indicadorGestion.id)" class="editIcon">edit</mat-icon></td> <!--(click)="sendToEditAct(actividad.id)"-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <charging-box *ngIf="!actividadesPerito"></charging-box>
    <no-data-found *ngIf=" actividadesPerito && actividadesPerito.length == 0"></no-data-found>
</div>