<div class="routerComponent">

    <div class="title">
        <h1>Monitoreo y evaluación</h1>
    </div>

    <div class="titleSeguimiento">
        <h2>Seguimiento POA Recintos</h2>

        <mat-form-field appearance="fill" style="margin: 0px 10px;">
            <mat-label>Estado</mat-label>
            <mat-select disableRipple>
                <ng-container>
                    <mat-option></mat-option>
                </ng-container>
                <ng-template #noEdificio>
                    <mat-option>No hay campos disponibles</mat-option>
                </ng-template>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="actividadesPerito">
        <div class="producto" style="margin-top: 10px;" *ngFor="let actividad of actividadesPerito">
            <div class="titleProducto">
                <span style="display: flex; margin: 10px 0;">
                    <h3>Actividad:</h3> &nbsp;
                    <h3 style="font-weight: 400;">{{actividad.nombre}}</h3>
    
                    <h3 style="margin-left: 40px;">Prioridad:</h3> &nbsp;
                    <h3 style="font-weight: 400;">{{actividad.prioridad}}</h3>
                </span>
                <span style="display: flex; ">
                    <h4><span style="font-weight: 500;">Presupuesto total estimado:</span> {{actividad.costeo.montoTotalTransversal | currency: 'DOP ': 'symbol':'1.2-2' }}</h4> &nbsp;
                </span>
            </div>
            <div>
                <table>
                    <thead class="headerTable">
                        <tr class="headerRow" *ngIf="actividad.costeo.costeoDetalle.length > 0" > <!---->
                            <th class="headerCell">Codigo</th>
                            <th class="headerCell">Insumo</th>
                            <th class="headerCell">Descripción</th>
                            <th class="headerCell">Unidad medida</th>
                            <th class="headerCell">Cantidad</th>
                            <th class="headerCell">Costo unitario</th>
                            <th class="headerCell">Presupuesto</th>
                            <th class="headerCell"></th>
                            <th class="headerCell"></th>
                        </tr>
                        <tr class="headerRow" *ngIf="actividad.costeo.costeoDetalle.length == 0">
                            <th class="headerCell">No se encontraron Insumos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dataRow" *ngFor="let insumos of actividad.costeo.costeoDetalle">
                            <td class="dataCell">{{insumos.insumo.id}}</td>
                            <td class="dataCell">{{insumos.insumo.nombre}}</td>
                            <td class="dataCell">{{insumos.descripcionInsumo}}</td>
                            <td class="dataCell">{{insumos.unidadMedida.nombre}}</td>
                            <td class="dataCell">{{insumos.cantidad}}</td>
                            <td class="dataCell" *ngIf="insumos.costoUnitario != null; else noCosteo"> {{insumos.costoUnitario | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                            <td class="dataCell" *ngIf="insumos.montoTotal != null; else noCosteo"> {{insumos.montoTotal | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                            <ng-template #noCosteo><td class="dataCell">{{0 | currency: 'DOP ': 'symbol':'1.2-2'}}</td></ng-template>
                            <td class="dataCell" style="width: 5%;"><mat-icon class="editIcon">edit</mat-icon></td> <!--(click)="sendToEditAct(actividad.id)"-->
                            <td class="dataCell" style="width: 5%;"><mat-icon class="removeIcon">thumb_up</mat-icon></td> <!--(click)="removeActividad(actividad.id)"-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <charging-box *ngIf="!actividadesPerito"></charging-box>
    <no-data-found *ngIf=" actividadesPerito && actividadesPerito.length == 0"></no-data-found>

</div>