<div style="padding: 15px;">
  <h2 class="Stitle" *ngIf="permisosCRUD.permisoCrear(13) || permisosCRUD.permisoEditar(13) && estructuraProgramaticaForm.value.id > 0" >Estructura Programatica</h2>
  <div>
    <form style=" margin-bottom: 15px;" [formGroup]="estructuraProgramaticaForm" (ngSubmit)="saveChanges()" *ngIf="permisosCRUD.permisoCrear(13) || permisosCRUD.permisoEditar(13) && estructuraProgramaticaForm.value.id > 0">

      <mat-form-field appearance="fill" style="width: 69%;">
        <mat-label>Estructura programatica</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="codigo">
      </mat-form-field>

      <button type="submit" class="greenButton">Guardar cambios</button> &nbsp;
      <button (click)="estructuraProgramaticaForm.reset()" *ngIf="estructuraProgramaticaForm.value.id"
        class="cleanButton">Limpiar edición</button>

    </form>

    <h2 class="Stitle">Listado de Estructura Programatica</h2>

    <div style="border:1px solid  #ccc ;">


      <table>
        <thead class="headerTable">
          <tr class="headerRow" style="background-color: #95ade93f;">
            <th class="headerCell">Estructura programatica</th>
            <th class="headerCell" style="width: 20%;">Codigo</th>
            <th class="headerCell" style="width: 5%;" *ngIf="permisosCRUD.permisoEditar(13)"></th>
            <th class="headerCell" style="width: 5%; padding-right: 15px;"> <div *ngIf="!estructurasProgramaticas" class="loader"></div> </th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow" *ngFor="let estructura of estructurasProgramaticas">
            <td class="dataIndiCell">{{estructura.nombre}}</td>
            <td class="dataIndiCell">{{estructura.codigo}}</td>
            <td class="dataIndiCell" *ngIf="permisosCRUD.permisoEditar(13)" ><mat-icon (click)="setValueEditEstructuraPro(estructura)" class="editIcon">edit</mat-icon></td>
            <td class="dataIndiCell" *ngIf="permisosCRUD.permisoEliminar(13)" ><mat-icon (click)="deleteEstructuraPro(estructura.id)" class="removeIcon">delete</mat-icon></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="noData" *ngIf="estructurasProgramaticas && estructurasProgramaticas.length == 0">
      <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
    </div>
  </div>

</div>