<div class="routerComponent">

    <div class="title">
        <h1>Formulación POA</h1>
    </div>

    <div style="margin-bottom: 5px;">
        <button class="backButton" mat-stroked-button [routerLink]="['../']"><mat-icon>arrow_back</mat-icon>Listado de productos</button>
    </div>

    <h2 style="margin: 10px 0; font-weight: 400;" *ngIf="productoConsult">{{productoConsult.nombre}}</h2>
    <h2 style="margin: 10px 0; font-weight: 400;" *ngIf="!productoConsult">Cargando...</h2>

    <div class="ProductoContainer" *ngIf="productoConsult">
        <h1>Indicadores</h1>

        <ng-container *ngIf="productoConsult.indicadoresGestion">
            <div class="producto" *ngFor="let indicador of productoConsult.indicadoresGestion">

                <div class="titleProducto" style="display: grid; grid-template-columns: 40% 60%;">
                    <span style="display: flex; margin: 15px 0;">
                        <h3>Indicador:</h3>&nbsp;
                        <h3 style="font-weight: 400;">{{indicador.nombre}}</h3>
                    </span>
                    <span style="display: flex; justify-content: flex-end;">
                        <h4><span style="font-weight: 500;">Presupuesto total estimado:</span>
                            {{indicador.historial[0].montoEjecutado| currency: 'DOP ': 'symbol':'1.2-2'}}</h4>
                        <h4><span style="font-weight: 500; margin-left: 40px;">Presupuesto transversal estimado:</span>
                            {{indicador.historial[0].montoEjecutadoTransversal | currency: 'DOP ': 'symbol':'1.2-2'}}
                        </h4>
                        <mat-icon
                            *ngIf="indicador.alcance.id !== 2 && userLogged.recinto.siglas === 'REC' && indicador.responsables.nombre == curretUnit"
                            class="fileIcon" (click)="openModalVistaIndicadoresRecinto(indicador.id)">visibility</mat-icon>
                        <mat-icon
                            *ngIf="permisosCRUD.permisoEditar(modulo.formulacion) && indicador.alcance.id !== 2 && userLogged.recinto.siglas === 'REC' && indicador.responsables.nombre == curretUnit"
                            class="nodesIcon" (click)="openModalResultadoEsperado(indicador.id)">lan</mat-icon>
                        <mat-icon
                            *ngIf="permisosCRUD.permisoEditar(modulo.formulacion) && indicador.responsables.nombre == curretUnit || indicador.alcance.id !== 2 && helperHandler.validationResRecintos(curretUnit, indicador.indicadoresRecinto)"
                            class="editIcon" (click)="openModalIndicadoresRecinto(indicador.id)">edit</mat-icon>
                        <mat-icon
                            *ngIf="indicador.alcance.id != 1 && userLogged.recinto.siglas == 'REC' && indicador.responsables.nombre == curretUnit || indicador.alcance.id != 2 && helperHandler.validationResRecintos(curretUnit, indicador.indicadoresRecinto) && userLogged.recinto.siglas != 'REC'"
                            class="listIcon" (click)="sendToIndicador(indicador.id)">list</mat-icon>
                    </span>
                </div>
                <div>
                    <table *ngIf="indicador.alcance.id == 2 || indicador.indicadoresRecinto.length > 0">
                        <thead class="headerTable">
                            <tr class="headerRow"
                                *ngIf="indicador.actividades.length > 0 && indicador.alcance.id == 2 || getActArrayRecinto(indicador)  && getActArrayRecinto(indicador).length > 0 && indicador.alcance.id != 2; else noData">
                                <th class="headerCell">Actividad</th>
                                <th class="headerCell">Responsable</th>
                                <th class="headerCell" style="width: 15%;">Presupuesto Estimado</th>
                                <th class="headerCell" style="width: 15%;">Presupuesto Transversal</th>
                                <th class="headerCellArrows" style="width: 50px; padding-right: 20px;">
                                    <span *ngIf="helperHandler.findUnitOrgRec(exactUnit, unidadesOrg) && indicador.alcance.id !== 2 && userLogged.recinto.siglas == 'REC'">
                                        <span>
                                            <mat-icon class="rowIcon"
                                            (click)="backRecinto(indicador.id)">navigate_before</mat-icon>
                                            <mat-icon class="rowIcon"
                                            (click)="nextRecinto(indicador.id)">navigate_next</mat-icon>
                                        </span>
                                        <span style="display: grid; padding-left: 14px; ">
                                            <h6 style="margin: 0;">{{unitSiglas}}</h6>
                                        </span>
                                    </span>
                                </th>
                            </tr>
                            <ng-template #noData>
                                <tr class="headerRow">
                                    <th class="headerCell">No se encontraron actividades</th>
                                    <th class="headerCell"></th>
                                    <th class="headerCell"></th>
                                    <th class="headerCell"></th>
                                    <th class="headerCellArrows" style="width: 50px; padding-right: 20px;" >
                                        <span *ngIf="helperHandler.findUnitOrgRec(exactUnit, unidadesOrg) && indicador.alcance.id !== 2 && userLogged.recinto.siglas == 'REC'">
                                            <span>
                                                <mat-icon class="rowIcon"
                                                (click)="backRecinto(indicador.id)">navigate_before</mat-icon>
                                                <mat-icon class="rowIcon"
                                                (click)="nextRecinto(indicador.id)">navigate_next</mat-icon>
                                            </span>
                                            <span style="display: grid; padding-left: 14px; ">
                                                <h6 style="margin: 0;">{{unitSiglas}}</h6>
                                            </span>
                                        </span>
                                    </th>
                                </tr>
                            </ng-template>
                        </thead>
                        <tbody
                            *ngIf="indicador.alcance.id == 2 && userLogged.recinto.siglas == 'REC' && indicador.actividades.length > 0">
                            <tr class="dataRow" *ngFor="let actividad of indicador.actividades">
                                <td class="dataCell">{{actividad.nombre}}</td>
                                <td class="dataCell">{{actividad.responsableUnidad.nombre}}</td>
                                <td class="dataCell">{{actividad.costeo.montoTotalEstimado | currency:
                                    'DOP':'symbol':'1.2-2'}}</td>
                                <td class="dataCell">{{actividad.costeo.montoTotalTransversal | currency:
                                    'DOP':'symbol':'1.2-2'}}</td>
                            </tr>
                        </tbody>
                        <ng-container *ngIf="indicador.alcance.id != 2 && getActArrayRecinto(indicador) && getActArrayRecinto(indicador).length > 0">
                            <tbody *ngFor="let actividad of getActArrayRecinto(indicador)">
                                <tr class="dataRow">
                                    <td class="dataCell">{{actividad.nombre}}</td>
                                    <td class="dataCell">{{actividad.responsableUnidad.nombre}}</td>
                                    <td class="dataCell">{{actividad.costeo.montoTotalEstimado | currency:
                                        'DOP':'symbol':'1.2-2'}}</td>
                                    <td class="dataCell">{{actividad.costeo.montoTotalTransversal | currency:
                                        'DOP':'symbol':'1.2-2'}}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                        <tfoot *ngIf="indicador.alcance.id != 2 && getActArrayRecinto(indicador) && getActArrayRecinto(indicador).length > 0 && userLogged.recinto.siglas == 'REC' ">
                            <tr class="dataRow" style="background-color: #49aa427c;">
                                <td class="footerCell">Total</td>
                                <td class="footerCell"></td>
                                <td class="footerCell">{{ montosEstimados.mte | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                                <td class="footerCell">{{ montosEstimados.mtte | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                                <td class="" style="color: grey;">{{getActArrayRecinto(indicador).length}} Items</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </ng-container>

        <no-data-found *ngIf="productoConsult.indicadoresGestion &&  productoConsult.indicadoresGestion.length == 0"></no-data-found>
    </div>
    <charging-box *ngIf="!productoConsult"></charging-box>
    
</div>