<div class="routerComponent">

    <div class="title">
        <h1>Formulación POA</h1>
    </div>

    <div style="margin-bottom: 5px;">
        <button class="backButton" mat-stroked-button [routerLink]="['../']"><mat-icon>arrow_back</mat-icon>Listado de productos</button>
    </div>

    <div class="producto">
        <div class="titleProducto">
            <span style="display: flex; margin: 10px 0;">
                <h3>Producto:</h3> &nbsp;
                <h3 style="font-weight: 400;">{{productoConsult.nombre}}</h3>
            </span>
        </div>
        <div>
            <table>
                <thead class="headerTable">
                    <tr class="headerRow">
                        <th class="headerCell" style="width: 30%;">Indicador</th>
                        <th class="headerCell">Tipo de indicador</th>
                        <th class="headerCell">Estructura Programática</th>
                        <th class="headerCell">Responsable</th>
                        <th class="headerCell">Línea Base</th>
                        <th class="headerCell">Meta</th>
                        <th class="headerCell" *ngIf="userLogged.recinto.siglas === 'REC'"></th>
                        <th class="headerCell"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow" *ngFor="let indicador of productoConsult.indicadoresGestion">
                        <td class="dataCell">{{indicador.nombre}}</td>
                        <td class="dataCell">{{indicador.tipoIndicador.nombre}}</td>
                        <td class="dataCell">{{indicador.estructuraProgramatica.nombre}}</td>
                        <td class="dataCell">{{indicador.responsables.nombre}}</td>
                        <td class="dataCell">{{indicador.lineaBase}}%</td>
                        <td class="dataCell" style="width: 5%;">{{indicador.meta}}%</td>
                        <td class="dataCell" style="width: 5%;" *ngIf="userLogged.recinto.siglas === 'REC'"><mat-icon *ngIf="indicador.alcance.id === 1 " class="nodesIcon" (click)="openModalResultadoEsperado(indicador)">lan</mat-icon></td>
                        <td class="dataCell" style="width: 5%;"><mat-icon 
                        *ngIf="
                            indicador.indicadoresRecinto && 
                            helperHandler.indicadorMetaRecinto(this.userLogged.recinto.siglas, indicador.indicadoresRecinto) &&
                            helperHandler.validationGoal(helperHandler.indicadorMetaRecinto(this.userLogged.recinto.siglas, indicador.indicadoresRecinto) , helperHandler.sumTotal({a: indicador.logroEsperadoT1, b: indicador.logroEsperadoT2, c: indicador.logroEsperadoT3, d:indicador.logroEsperadoT4})); else needUpdate
                            " 
                            class="editIcon" (click)="openModalIndicadoresRecinto(indicador)">edit</mat-icon>
                        </td>

                        <ng-template #needUpdate>
                            <mat-icon 
                            *ngIf="
                                indicador.indicadoresRecinto && 
                                helperHandler.indicadorMetaRecinto(this.userLogged.recinto.siglas, indicador.indicadoresRecinto) &&
                                !helperHandler.validationGoal(helperHandler.indicadorMetaRecinto(this.userLogged.recinto.siglas, indicador.indicadoresRecinto), helperHandler.sumTotal({a: indicador.logroEsperadoT1, b: indicador.logroEsperadoT2, c: indicador.logroEsperadoT3, d:indicador.logroEsperadoT4}))
                                "
                                class="editNotificationIcon" (click)="openModalIndicadoresRecinto(indicador)">edit
                            </mat-icon>
                        </ng-template>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="actividadContainer">
        <span class="titleActividad">
            <h1>Actividades</h1>
            <button mat-stroked-button class="borderOrangeButton" (click)="crearActividad()"><mat-icon>add</mat-icon>
                Añadir actividad</button>
        </span>

        <div style="margin-bottom: 15px;">
            <table style="border: 1px solid #ccc;">
                <thead class="headerTable">
                    <tr class="headerRow" style="background-color: #95ade93f;">
                        <th class="headerCell">No.</th>
                        <th class="headerCell">Actividad</th>
                        <th class="headerCell">Frecuencia</th>
                        <th class="headerCell">Prosupuesto Estimado</th>
                        <th class="headerCell">Estado</th>
                        <th class="headerCell">Editar</th>
                        <th class="headerCell">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr class="dataRow" *ngFor="let actividad of productoConsult.actividades"> -->
                    <!-- <td class="dataCell" style="width: 5%;">{{actividad.id}}</td>
                        <td class="dataCell"> {{actividad.nombre}}</td>
                        <td class="dataCell">{{actividad.frecuencia.nombre}}</td>
                        <td class="dataCell">{{actividad.costeo.montoTotalEstimado | currency: 'DOP ': 'symbol':'1.2-2' }}</td>
                        <td class="dataCell" style="width: 5%;"><button class="statusButton"></button></td>
                        <td class="dataCell" style="width: 5%;"><mat-icon class="editIcon">edit</mat-icon></td>
                        <td class="dataCell" style="width: 5%;"><mat-icon class="removeIcon">delete</mat-icon></td> -->
                    <!-- </tr> -->
                </tbody>
            </table>
        </div>

        <button class="greenButton">Crear POA</button>
    </div>
</div>