<div class="routerComponent">

    <div class="title">
        <h1>Ayuda</h1>
    </div>  

    <div class="fuctionContent">
        <h2>Preguntas Frencuentes</h2>
        
        <mat-form-field  appearance="fill">
            <mat-label>Buscar pregunta</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div class="preguntaFrecuentesContainer"  >
        
        <div (click)="openModal(pregunta)" *ngFor="let pregunta of getPreguntas" class="iconoPreguntaContainer" >
            <div class="iconoContainer">?</div>
            <div class="preguntaFrecuente">
                <span class="titlePregunta">
                    <h2>{{pregunta.pregunta.includes('?') || pregunta.pregunta.includes('¿') ? pregunta.pregunta : '¿' + pregunta.pregunta + '?'}}</h2>
                    <h3>{{pregunta.actualizadoEn | date : 'dd/MM/yyyy'}}</h3>
                </span>
                <h4><span style="font-weight: 500;">Contexto: </span>{{pregunta.contexto}}</h4>
            </div>
        </div>

    </div>

</div>