<div class="routerComponent">

    <div class="title">
        <h1>Ayuda</h1>
    </div>  

    <div class="fuctionContent">
        <h2>Preguntas Frencuentes</h2>
        
        <mat-form-field hideRequiredMarker appearance="fill">
            <mat-label>Buscar pregunta</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div class="preguntaFrecuentesContainer">
        
        <div class="iconoPreguntaContainer">
            <div class="iconoContainer">?</div>
            <div class="preguntaFrecuente">
                <span class="titlePregunta">
                    <h2>Que hago con la actividad si la tarea ya no existe?</h2>
                    <h3>10/2/2024</h3>
                </span>
                <h4><span style="font-weight: 500;">Contexto:</span> Actividades y Tareas 2023</h4>
            </div>
        </div>

       

        
    </div>

</div>