<div style="padding: 15px;">
  <h2 class="Stitle" >Estrategias</h2>
  <div>
    <form [formGroup]="estrategiaForm" (ngSubmit)="saveChanges()">
      <mat-form-field appearance="fill" style="width: 40%;">
        <mat-label>Eje estrategico</mat-label>
        <mat-select disableRipple formControlName="idEjeEstrategico">
          <ng-container>
            <mat-option [value]="eje.id" *ngFor="let eje of ejes">
              {{eje.numeroEje}} - {{eje.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noEdificio>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 59%;">
        <mat-label>Estrategia</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
    
      <button type="submit" class="greenButton">Guardar cambios</button> &nbsp;
      <button (click)="estrategiaForm.reset()" *ngIf="estrategiaForm.value.id" class="cleanButton">Limpiar edición</button>

    </form>

    <h2 style=" margin-top: 15px;" class="Stitle">Listado de estrategias</h2>

    <div style="border:1px solid  #ccc ;">

      <div>
        <table>
          <thead class="headerTable">
            <tr class="headerRow" style="background-color: #95ade93f;">
              <th class="headerCell">Eje</th>
                <th class="headerCell">Estrategia</th>
                <th class="headerCell">Numero Eje</th>
                <th class="headerCell" style="width: 10%;"></th>
                <th class="headerCell" style="width: 10%;"></th>
            </tr>
        </thead>
          <tbody>
            <tr class="dataRow"  *ngFor="let estrategia of estrategias">
              <td class="dataIndiCell">{{estrategia.ejeEstrategico.nombre}}</td>
              <td class="dataIndiCell">{{estrategia.nombre}}</td>
              <td class="dataIndiCell">{{estrategia.ejeEstrategico.numeroEje}}</td>
              <td class="dataIndiCell"><mat-icon class="editIcon" (click)="setValueEstrategia(estrategia)">edit</mat-icon></td>
              <td class="dataIndiCell"><mat-icon class="removeIcon" (click)="deleteEstrategia(estrategia.id)">delete</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
