<div class="routerComponent">

    <div class="title">
        <h1>Monitoreo y evaluación</h1>
    </div>

    <div class="titleSeguimiento">
        <h2>Seguimiento POA Recintos</h2>
        <span>
            <div style="display: flex; align-items: center;">
                <mat-form-field appearance="fill" style="margin: 0px 10px;">
                    <mat-label>Seleccione Recinto</mat-label>
                    <mat-select disableRipple>
                        <ng-container>
                            <mat-option></mat-option>
                        </ng-container>
                        <ng-template #noEdificio>
                            <mat-option>No hay campos disponibles</mat-option>
                        </ng-template>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 0px 10px;">
                    <mat-label>Seleccione el año</mat-label>
                    <mat-select disableRipple>
                        <ng-container>
                            <mat-option></mat-option>
                        </ng-container>
                        <ng-template #noEdificio>
                            <mat-option>No hay campos disponibles</mat-option>
                        </ng-template>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" style="margin: 0px 10px; width: 240px;">
                    <mat-label>Seleccione el trimestre</mat-label>
                    <mat-select disableRipple>
                        <ng-container *ngIf="true ; else noEdificio"> <!--edificioFilteredList.length >  0-->
                            <mat-option></mat-option>
                        </ng-container>
                        <ng-template #noEdificio>
                            <mat-option>No hay campos disponibles</mat-option>
                        </ng-template>
                    </mat-select>
                </mat-form-field>

                <button class="orangeButton" style="padding: 1px 25px; margin-left: 20px;">Mi Matriz</button>
            </div>
        </span>
    </div>

    <div class="seguimientoContainer">
        <div class="seguimientoSection">
            <div style="border:1px solid  #ccc">
                <div class="titleProducto" style="background-color: #95ade93f;;">
                    <span style="display: flex; margin: 5px 0;">
                        <h3>indicadores:</h3> &nbsp;
                    </span>
                </div>
                <div>
                    <table>
                        <thead class="headerTable">
                            <tr class="headerRow">
                                <th class="headerCell">Unidad consolidadora</th>
                                <th class="headerCell">Completado</th>
                                <th class="headerCell">Total</th>
                                <th class="headerCell">% Copletado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="dataRow">
                                <td class="dataIndiCell">Recinto Emilio Prud Home</td>
                                <td class="dataIndiCell">14</td>
                                <td class="dataIndiCell">7</td>
                                <td class="dataIndiCell">Barra%</td>
                            </tr>
                            <tr class="dataRow">
                                <td class="dataIndiCell">Recinto Juan Vicente Moscoso</td>
                                <td class="dataIndiCell">8</td>
                                <td class="dataIndiCell">17</td>
                                <td class="dataIndiCell">Barra%</td>
                            </tr>
                            <tr class="dataRow">
                                <td class="dataIndiCell">Recinto Eugenio María de Hostos</td>
                                <td class="dataIndiCell">3</td>
                                <td class="dataIndiCell">30</td>
                                <td class="dataIndiCell">Barra%</td>
                            </tr>
                            <tr class="dataRow">
                                <td class="dataIndiCell">Recinto Felix Evaristo Mejía</td>
                                <td class="dataIndiCell">8</td>
                                <td class="dataIndiCell">2</td>
                                <td class="dataIndiCell">Barra%</td>
                            </tr>
                        </tbody>
                        <tfoot style="border-top: 1px solid #ccc;">
                            <td class="footerCell">Total</td>
                            <td class="footerCell">33</td>
                            <td class="footerCell">56</td>
                            <td class="footerCell">332</td>                  
                        </tfoot>
                    </table>
                </div>
                <div class="resultadoTable">

                </div>
            </div>
        </div>


        <div>

        </div>

    </div>
</div>