<div style="padding: 15px;">

  <h2 class="Stitle">Supuestos riesgos</h2>
  <div>
    <form [formGroup]="supuestoRiesgoForm" (ngSubmit)="saveChanges()">

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label> Nombre del riesgo</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>

      <button type="submit" class="greenButton">Guardar cambios</button> &nbsp;
      <button (click)="supuestoRiesgoForm.reset()" *ngIf="supuestoRiesgoForm.value.id" class="cleanButton">Limpiar
        edición</button>

    </form>

    <h2 style=" margin-top: 15px;" class="Stitle">Listado de requerimientos</h2>

    <div style="border:1px solid  #ccc ;">


      <table>
        <thead class="headerTable">
          <tr class="headerRow" style="background-color: #95ade93f;">
            <th class="headerCell">Riesgo</th>
            <th class="headerCell" style="width: 10%;"></th>
            <th class="headerCell" style="width: 10%; padding-right: 15px;">
              <div *ngIf="!supuestosRiesgos" class="loader"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow" *ngFor="let supuestoRiesgo of supuestosRiesgos">
            <td class="dataIndiCell">{{supuestoRiesgo.nombre}}</td>
            <td class="dataIndiCell"><mat-icon (click)="setValueEditSupuestoRiesgo(supuestoRiesgo)"
                class="editIcon">edit</mat-icon></td>
            <td class="dataIndiCell"><mat-icon (click)="deleteSupuestoRiesgo(supuestoRiesgo.id)"
                class="removeIcon">delete</mat-icon></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="noData" *ngIf="supuestosRiesgos && supuestosRiesgos.length == 0">
      <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
    </div>
  </div>

  <!-- </div> -->