<div style="padding: 15px;">
    <div class="fuctionContent" >
        <h2 class="mantenimientoTitle">Presupuesto Unidades Organizativas</h2>
        <span style="display: flex;">
            <div class="checkPresupuesto">
                <div class="titlePresupuesto">
                    <h3>Presupuesto total</h3>
                </div>
                <div class="amountPresupuesto">
                    <h3>{{presupuestosInst.montoTotal | currency: 'DOP ': 'symbol':'1.2-2'}}</h3>
                </div>
            </div>
            <div class="checkPresupuesto">
                <div class="titlePresupuesto">
                    <h3>Presupuesto disponible</h3>
                </div>
                <div class="amountPresupuesto">
                    <h3>{{presupuestosInst.montoRestante | currency: 'DOP ': 'symbol':'1.2-2'}}</h3>
                </div>
            </div>
        </span>
    </div>
    <div>
        <form [formGroup]="asignacionPresupuestoForm" (ngSubmit)="putUnidadOrganizativa()">

            <mat-form-field hideRequiredMarker appearance="fill" style="width: 59%;">
                <mat-label>Unidad Organizativa</mat-label>
                <input readonly matInput formControlName="nombre">
            </mat-form-field>&nbsp;

            <!-- <mat-form-field appearance="fill" style="width: 59%;">
            <mat-label></mat-label>
            <mat-select formControlName="nombre" disableRipple>
              <ng-container *ngIf="unidadesOrg.length > 0; else noUnidad">
                <mat-option [value]="unidadOrg.id" *ngFor="let unidadOrg of unidadesOrg">
                  {{unidadOrg.nombre}}
                </mat-option>
              </ng-container>
              <ng-template #noUnidad>
                <mat-option>No hay campos disponibles</mat-option>
              </ng-template>
            </mat-select>
          </mat-form-field>&nbsp; -->

            <mat-form-field hideRequiredMarker appearance="fill" style="width: 40%;">
                <mat-label>Presupuesto</mat-label>
                <input matInput formControlName="presupuestoEstimado">
            </mat-form-field>

            <button type="submit" class="greenButton">Guardar cambios</button>

        </form>

        <h2 style=" margin-top: 15px;" class="mantenimientoTitle">Listado de unidades organizativas</h2>

        <div style="border:1px solid  #ccc ;">

            <table>
                <thead class="headerTable">
                    <tr class="headerRow" style="background-color: #95ade93f;">
                        <th class="headerCell">Unidad Organizativa</th>
                        <th class="headerCell" style="width: 20%;">Presupuesto</th>
                        <th class="headerCell" style="width: 10%;"></th>
                        <th class="headerCell" style="width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow" *ngFor="let unidadOrg of unidadesOrg">
                        <td class="dataIndiCell">{{unidadOrg.nombre}}</td>
                        <td class="dataIndiCell">{{unidadOrg.presupuestoEstimado | currency: 'DOP ': 'symbol':
                            '1.2-2'}} </td>
                        <td class="dataIndiCell"><mat-icon (click)="setValueEditUnidadOrg(unidadOrg)"
                                class="editIcon">edit</mat-icon></td>
                        <td class="dataIndiCell"><mat-icon (click)="deletePresupuestoUnidadOrg(unidadOrg)"
                                class="removeIcon">delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>