<div style="padding: 15px;">
    <div class="fuctionContent">
        <span>
            <h2 class="Stitle" *ngIf="permisosCRUD.permisoCrear(modulo.mantenimiento) || accion " >Presupuesto Unidades Organizativas</h2>
        </span>
        <span style="display: flex;">
            <div class="checkPresupuesto">
                <div class="titlePresupuesto">
                    <h3>Presupuesto total</h3>
                </div>
                <div class="amountPresupuesto">
                    <h3>{{presupuestosInst.montoTotal | currency: 'DOP ': 'symbol':'1.2-2'}}</h3>
                </div>
            </div>
            <div class="checkPresupuesto">
                <div class="titlePresupuesto">
                    <h3>Presupuesto disponible</h3>
                </div>
                <div class="amountPresupuesto">
                    <h3>{{presupuestosInst.montoRestante | currency: 'DOP ': 'symbol':'1.2-2'}}</h3>
                </div>
            </div>
        </span>
    </div>
    <div>
        <form style=" margin-bottom: 15px;" [formGroup]="asignacionPresupuestoForm" (ngSubmit)="saveChanges()" *ngIf="permisosCRUD.permisoCrear(modulo.mantenimiento) || accion ">

            <mat-form-field appearance="fill"  style="width: 59%;">
                <mat-label>Unidad Organizativa</mat-label>
                <mat-select formControlName="idUnidadOrganizativa" disableRipple>
                    <ng-container *ngIf="unidadesOrgPadres.length > 0; else noUnidadPadre">
                        <mat-option [value]="unidadOrgPadre.id" *ngFor="let unidadOrgPadre of unidadesOrgPadres">
                            {{unidadOrgPadre.nombre}}
                        </mat-option>
                    </ng-container>
                    <ng-template #noUnidadPadre>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill"  style="width: 40%;">
                <mat-label>Presupuesto</mat-label>
                <input type="number" matInput formControlName="monto">
            </mat-form-field>

            <button type="submit" class="greenButton">Guardar cambios</button>&nbsp;
            <button (click)="cleanForm()" *ngIf="accion" class="cleanButton">Limpiar edición</button>
        </form>

        <h2 class="Stitle">Listado de unidades organizativas</h2>

        <div style="border:1px solid  #ccc ;">

            <table>
                <thead class="headerTable">
                    <tr class="headerRow" style="background-color: #95ade93f;">
                        <th class="headerCell">Unidad Organizativa</th>
                        <th class="headerCell" style="width: 20%;">Monto Ejecutado</th>
                        <th class="headerCell" style="width: 20%;">Monto Total</th>
                        <th class="headerCell" style="width: 5%;"></th>
                        <th class="headerCell" style="width: 5%;" *ngIf="permisosCRUD.permisoEditar(modulo.mantenimiento)" ></th>
                        <th class="headerCell" style="width: 5%; padding-right: 15px;"> <div *ngIf="!unidadesOrg" class="loader"></div> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow" *ngFor="let unidadOrg of unidadesOrg">
                        <td class="dataIndiCell">{{unidadOrg.unidadOrganizativa?.nombre}}</td>
                        <td class="dataIndiCell">{{unidadOrg?.montoEjecutado | currency: 'DOP ': 'symbol': '1.2-2'}}
                        </td>
                        <td class="dataIndiCell">{{unidadOrg?.monto | currency: 'DOP ': 'symbol': '1.2-2'}} </td>
                        <td class="dataIndiCell"><mat-icon *ngIf="unidadOrg.unidadOrganizativa?.subUnidades != undefined && unidadOrg.unidadOrganizativa?.subUnidades?.length" (click)="openModal(unidadOrg)" class="detailsIcon">list</mat-icon></td>
                        <td class="dataIndiCell"><mat-icon *ngIf="permisosCRUD.permisoEditar(modulo.mantenimiento)" (click)="setValueEditUnidadOrg(unidadOrg)" class="editIcon">edit</mat-icon></td>
                        <td class="dataIndiCell"><mat-icon *ngIf="permisosCRUD.permisoEliminar(modulo.mantenimiento)" (click)="deletePresupuestoUnidadOrg(unidadOrg.unidadOrganizativa)" class="removeIcon">delete</mat-icon></td>
                    </tr>
                </tbody>
                <tfoot *ngIf="unidadesOrg && unidadesOrg.length > 0">
                    <tr class="paginatorRow">
                      <td class="footerCell"></td>
                      <td class="footerCell"></td>
                      <td class="footerCell"></td>
                      <td class="footerCell"></td>
                      <td class="footerCell">
                        <!-- <span  style="color: grey;"> {{pagination.pageCount}} Items</span> -->
                      </td>
                      <td class="dataIndiCell">
                        <span style="display: flex; align-items: center; " *ngIf="pagination">
                          <mat-icon class="rowIcon" (click)="previousPage()">navigate_before</mat-icon>
                          <h5 style="margin: 0;">{{page}} / {{pagination.totalPages}}</h5>
                          <mat-icon class="rowIcon" (click)="nextPage()">navigate_next</mat-icon>
                        </span>
                      </td>
                    </tr>
                  </tfoot>
            </table>
        </div>
        
        <div class="noData" *ngIf="unidadesOrg && unidadesOrg.length == 0">
            <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
        </div>
    </div>

</div>