<div class="routerComponent">

    <div class="title">
        <h1>Material de apoyo</h1>
    </div>

    <div class="titleSeguimiento">
        <h2>Documentos De Aprendizaje</h2>

        <mat-form-field hideRequiredMarker appearance="fill" >
            <mat-label>Nombre Del Documento</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div style="margin-bottom: 15px;">
        <table style="border: 1px solid #ccc;">
            <thead class="headerTable" >
                <tr class="headerRow" style="background-color: #95ade93f;">
                    <th class="headerCell" style="width: 15%;">Fecha de creación</th>
                    <th class="headerCell" style="width: 15%;">Fecha de actualización</th>
                    <th class="headerCell" >Nombre de documento</th>
                    <th class="headerCell">Enlace</th>
                    <th class="headerCell" style="width: 10%;">Versión</th>
                </tr>
            </thead>
            <tbody>
                <tr class="dataRow" *ngFor="let material of materialesApoyo">
                    <td class="dataCell">{{material.creadoEn | date: 'dd/MM/yyyy'}}</td>
                    <td class="dataCell">{{material.actualizadoEn | date: 'dd/MM/yyyy'}}</td>
                    <td class="dataCell">{{material.titulo}}</td>
                    <td class="dataCell"><a [href]="material.enlace"> {{material.enlace}}</a></td>
                    <td class="dataCell">{{material.versionDocumento}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>