<div class="routerComponent">

    <div class="title">
        <h1>Material de apoyo</h1>
    </div>

    <div class="titleSeguimiento">
        <h2>Documentos De Aprendizaje</h2>

        <mat-form-field hideRequiredMarker appearance="fill" >
            <mat-label>Nombre Del Documento</mat-label>
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div style="margin-bottom: 15px;">
        <table style="border: 1px solid #ccc;">
            <thead class="headerTable" >
                <tr class="headerRow" style="background-color: #95ade93f;">
                    <th class="headerCell">Fecha de creación</th>
                    <th class="headerCell">Fecha de actualización</th>
                    <th class="headerCell">Nombre de documento</th>
                    <th class="headerCell">Enlace</th>
                    <th class="headerCell">Versión</th>
                    <th class="headerCell"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="dataRow">
                    <td class="dataCell">10/12/2220</td>
                    <td class="dataCell">12/14/2981</td>
                    <td class="dataCell">Implementar modelo pedagógico para la formación de docentes</td>
                    <td class="dataCell">http/example/example</td>
                    <td class="dataCell">3.2</td>
                    <td class="dataCell" style="width: 8%;"><mat-icon class="editIcon" [routerLink]="['detallePlanTransversal']">edit</mat-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>