<div class="routerComponent">

    <div class="title">
        <h1>Material de apoyo</h1>
    </div>

    <div class="titleSeguimiento">
        <h2>Documentos De Aprendizaje</h2>

        <mat-form-field  appearance="fill"  >
            <mat-label>Nombre Del Documento</mat-label>
            <input matInput [(ngModel)]="materialName" (input)="getMaterial()">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>

    <div style="margin-bottom: 15px;" >
        <table style="border: 1px solid #ccc;" *ngIf="materialesApoyo && materialesApoyo.length > 0">
            <thead class="headerTable" >
                <tr class="headerRow" style="background-color: #95ade93f;">
                    <th class="headerCell" style="width: 15%;">Fecha de creación</th>
                    <th class="headerCell" style="width: 15%;">Fecha de actualización</th>
                    <th class="headerCell" >Nombre de documento</th>
                    <th class="headerCell">Enlace</th>
                    <th class="headerCell" style="width: 10%;">Versión</th>
                </tr>
            </thead>
            <tbody>
                <tr class="dataRow" *ngFor="let material of materialesApoyo">
                    <td class="dataCell">{{material.creadoEn | date: 'dd/MM/yyyy'}}</td>
                    <td class="dataCell">{{material.actualizadoEn | date: 'dd/MM/yyyy'}}</td>
                    <td class="dataCell">{{material.titulo}}</td>
                    <td class="dataCell"><a [href]="material.enlace"> {{material.enlace}}</a></td>
                    <td class="dataCell">{{material.versionDocumento}}</td>
                </tr>
            </tbody>
            <tfoot *ngIf="materialesApoyo && materialesApoyo.length > 0">
                <tr class="paginatorRow">
                  <td class="footerCell"></td>
                  <td class="footerCell"></td>
                  <td class="footerCell"></td>
                  <td class="footerCell">
                    <!-- <span  style="color: grey;"> {{pagination.pageCount}} Items</span> -->
                  </td>
                  <td class="dataIndiCell">
                    <span style="display: flex; align-items: center; " *ngIf="pagination">
                      <mat-icon class="rowIcon" (click)="previousPage()">navigate_before</mat-icon>
                      <h5 style="margin: 0;">{{page}} / {{pagination.totalPages}}</h5>
                      <mat-icon class="rowIcon" (click)="nextPage()">navigate_next</mat-icon>
                    </span>
                  </td>
                </tr>
              </tfoot>
        </table>
    </div>

    <charging-box *ngIf="!materialesApoyo" ></charging-box>
    <no-data-found *ngIf="materialesApoyo && materialesApoyo.length == 0"></no-data-found>

</div>