<div style="padding: 15px;">

  <h2 class="Stitle">Roles</h2>
  <div>
    <form [formGroup]="rolesForm" (ngSubmit)="saveChanges()">

      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Rol</mat-label>
        <input matInput formControlName="rolName">
      </mat-form-field><br>

      <h2 class="Stitle">Permisos</h2>

      <div formArrayName="permisos" *ngIf="rolesForm.value.permisos.length > 0">

        <div style="border:1px solid  #cccccca8 ;">

          <table>
            <thead class="headerTable">
              <tr class="headerRow" style="background-color: #eeeeee83;">
                <th class="headerCell" style="width: 40%;">Modulos</th>
                <th class="headerCell">Leer</th>
                <th class="headerCell">Crear</th>
                <th class="headerCell">Editar</th>
                <th class="headerCell">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="dataRow" [formGroupName]="i" *ngFor="let permiso of rolesForm.value.permisos; let i = index">
                <td class="dataIndiCell" *ngIf="roles.length">{{ roles[0].modulos[i].nombre }}</td>
                <td class="dataIndiCell"><mat-checkbox color="primary" formControlName="leer"></mat-checkbox></td>
                <td class="dataIndiCell"><mat-checkbox color="primary" formControlName="crear"></mat-checkbox></td>
                <td class="dataIndiCell"><mat-checkbox color="primary" formControlName="editar"></mat-checkbox></td>
                <td class="dataIndiCell"><mat-checkbox color="primary" formControlName="eliminar"></mat-checkbox></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>

      <button type="submit" class="greenButton">Guardar cambios</button> &nbsp;
      <button (click)="rolesForm.reset()" *ngIf="rolesForm.value.idRol" class="cleanButton">Limpiar edición</button>

    </form>

    <h2 style=" margin-top: 15px;" class="Stitle">Listado de Roles y permisos</h2>

    <div style="border:1px solid  #ccc ;">
      <table>
        <thead class="headerTable">
          <tr class="headerRow" style="background-color: #95ade93f;">
            <th class="headerCell">Rol</th>
            <th class="headerCell">Permisos</th>
            <th class="headerCell" style="width: 10%;"></th>
            <th class="headerCell" style="width: 10%; padding-right: 15px;">
              <div *ngIf="!roles" class="loader"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow" *ngFor="let rol of roles">
            <td class="dataIndiCell">{{rol.nombre}}</td>
            <td class="dataIndiCell"><mat-icon (click)="openModal(rol)" class="detailsIcon">list</mat-icon></td>
            <td class="dataIndiCell"><mat-icon (click)="setValueRolesPermisos(rol)" class="editIcon">edit</mat-icon>
            </td>
            <td class="dataIndiCell"><mat-icon (click)="deleteRolesPermisos(rol.idRol)"
                class="removeIcon">delete</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="noData" *ngIf="roles && roles.length == 0">
      <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
    </div>
  </div>