<div class="routerComponent">

    <div class="title">
        <h1>Formulación POA</h1>
    </div>

    <div style="margin-bottom: 5px;" class="titleActividad">
        <button class="backButton" mat-stroked-button (click)="backToProducto()"><mat-icon>arrow_back</mat-icon>Listado de Indicadores</button>
        <button mat-stroked-button class="borderOrangeButton" (click)="sendToNewAct()"><mat-icon>add</mat-icon>Añadir actividad</button>
    </div>

    <div class="producto" style="margin-top: 16px;" *ngIf="indicador">
        <div class="titleProducto">
            <span style="display: flex; margin: 10px 0;">
                <h3>Indicador:</h3> &nbsp;
                <h3 style="font-weight: 400;">{{indicador.nombre}}</h3>

                <h3 style="margin-left: 40px;">Linea Base:</h3> &nbsp;
                <h3 style="font-weight: 400;">{{indicador.lineaBase}}</h3>

                <h3 style="margin-left: 40px;">Meta:</h3> &nbsp;
                <h3 style="font-weight: 400;">{{indicador.meta}}</h3>
            </span>
            <span style="display: flex; ">
                <h4><span style="font-weight: 500;">Presupuesto total estimado:</span> {{indicador.montoConsumido |
                    currency: 'DOP ': 'symbol':'1.2-2'}}</h4>
            </span>
        </div>
        <div>
            <table>
                <thead class="headerTable">
                    <tr class="headerRow">
                        <th class="headerCell">Actividad</th>
                        <th class="headerCell">Responsable</th>
                        <th class="headerCell">Cargo del Responsable</th>
                        <th class="headerCell">Prosupuesto Estimado</th>
                        <th class="headerCell"></th>
                        <th class="headerCell"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow" *ngFor="let actividad of indicador.actividades">
                        <td class="dataCell">{{actividad.nombre}}</td>
                        <td class="dataCell">{{actividad.responsableUnidad.nombre}}</td>
                        <td class="dataCell">{{actividad.responsableCargo.nombre}}</td>
                        <td class="dataCell" *ngIf="actividad.costeo != null; else noCosteo">
                            {{actividad.costeo.montoTotalEstimado | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                        <ng-template #noCosteo>
                            <td class="dataCell">{{0 | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                        </ng-template>
                        <td class="dataCell" style="width: 5%;"><mat-icon class="editIcon"
                                (click)="sendToEditAct(actividad.id)">edit</mat-icon></td>
                        <td class="dataCell" style="width: 5%;"><mat-icon class="removeIcon"
                                (click)="removeActividad(actividad.id)">delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <charging-box *ngIf="!indicador" ></charging-box>
    
</div>