<div class="routerComponent">

    <div class="title">
        <h1>Formulación POA</h1>
    </div>

    <div style="margin-bottom: 5px;" class="titleActividad">
        <button class="backButton" mat-stroked-button (click)="backToProducto()"><mat-icon>arrow_back</mat-icon>Listado
            de Indicadores</button>
        <button mat-stroked-button class="borderOrangeButton" (click)="sendToNewAct()"><mat-icon>add</mat-icon>Añadir
            actividad</button>
    </div>

    <div class="producto" style="margin-top: 16px;" *ngIf="indicador">
        <div class="titleProducto">
            <span style="display: flex; margin: 10px 0;">
                <h3>Indicador:</h3> &nbsp;
                <h3 style="font-weight: 400;">{{indicador.nombre}}</h3>
<!-- 
                <h3 style="margin-left: 40px;">Linea Base:</h3> &nbsp;
                <h3 style="font-weight: 400;">{{indicador.lineaBase}}</h3> -->

                <h3 style="margin-left: 40px;">Meta:</h3> &nbsp;
                <h3 style="font-weight: 400;" *ngIf="indicador.alcance.id == 2" >{{indicador.meta}}</h3>
                <h3 style="font-weight: 400;">{{helperHandler.getExactMetaRecinto(indicador.indicadoresRecinto).metaRecinto?.meta}}</h3>
            </span>
            <span style="display: flex; ">
                <h4><span style="font-weight: 500;">Presupuesto total estimado:</span> {{indicador.historial[0].montoEjecutado | currency: 'DOP ': 'symbol':'1.2-2'}}</h4> &nbsp;
                <h4><span style="font-weight: 500; margin-left: 40px;">Presupuesto transversal estimado:</span> {{indicador.historial[0].montoEjecutadoTransversal | currency: 'DOP ': 'symbol':'1.2-2'}}</h4>
            </span>
        </div>
        <div>
            <table>
                <thead class="headerTable">
                    <tr class="headerRow" *ngIf="indicador.actividades.length > 0">
                        <th class="headerCell">Actividad</th>
                        <th class="headerCell">Responsable</th>
                        <th class="headerCell">Meses de Impacto</th>
                        <th class="headerCell">Prioridad</th>
                        <th class="headerCell">Presupuesto Estimado</th>
                        <th class="headerCell">Presupuesto Transversal</th>
                        <th class="headerCell"></th>
                        <th class="headerCell"></th>
                    </tr>
                    <tr class="headerRow" *ngIf="indicador.actividades.length == 0">
                        <th class="headerCell">No se encontraron actividades</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow" *ngFor="let actividad of indicador.actividades">
                        <td class="dataCell">{{actividad.nombre}}</td>
                        <td class="dataCell">{{actividad.responsableUnidad.nombre}}</td>
                        <td class="dataCell">
                            <span>
                                {{actividad.mesesImpacto[0].nombre}}
                                <span *ngIf="actividad.mesesImpacto.length > 1" [matMenuTriggerFor]="menu"
                                    class="seeMore">...</span>
                                <mat-menu #menu="matMenu">
                                    <ng-container *ngFor="let mes of actividad.mesesImpacto">
                                        <h5 style="padding: 5px 15px; margin: 0;">{{mes.nombre}}</h5>
                                    </ng-container>
                                </mat-menu>
                            </span>
                        </td>
                        <td class="dataCell">{{actividad.prioridad}}</td>
                        <td class="dataCell" *ngIf="actividad.costeo != null; else noCosteo"> {{actividad.costeo.montoTotalEstimado | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                        <td class="dataCell" *ngIf="actividad.costeo != null; else noCosteo"> {{actividad.costeo.montoTotalTransversal | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                        <ng-template #noCosteo>
                            <td class="dataCell">{{0 | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                        </ng-template>
                        <td class="dataCell" style="width: 5%;"><mat-icon class="editIcon" (click)="sendToEditAct(actividad.id)">edit</mat-icon></td>
                        <td class="dataCell" style="width: 5%;"><mat-icon class="removeIcon" (click)="removeActividad(actividad.id)">delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <charging-box *ngIf="!indicador"></charging-box>
</div>