<div class="routerComponent">

  <div class="title">
    <h1>Mantenimiento</h1>
  </div>

  <div class="fuctionContent" style="padding: 0 5px 0 15px;">
    <h2>PEI</h2>
    <button class="orangeButton" style="padding: 0 25px;" [routerLink]="['../mantenimientoPoa']">POA</button>
  </div>

  <div class="mantenimientoContainer">

    <div class="mantenimientoOptions">

      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['ejes'] } }]"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>Ejes
      </a>
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['estrategias'] } }]"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>Estrategias
      </a>
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['resultadoEfecto'] } }]"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>Resultado efecto
      </a>
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['indicadoresEstrategicos'] } }]"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>Indicadores estrategicos
      </a>
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['requerimientos'] } }]"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>Completar indicadores
      </a>

      <!-- <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['supuestosriesgos'] } }]"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>Supuestos riesgos
      </a>
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['medio-verificacion'] } }]"
       routerLinkActive="active">
       <mat-icon>settings</mat-icon>Medio verificación
     </a>
      <a class="item-menu" [routerLink]="[{ outlets: { mantenimiento: ['Responsables-indicadores'] } }]"
        routerLinkActive="active">
        <mat-icon>settings</mat-icon>Responsables
      </a> -->


    </div>

    <div class="mantenimientoForms">
      <router-outlet name="mantenimiento"></router-outlet>
    </div>

  </div>
</div>
