<div class="appWrapper">

  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="sidenavOpened" style="width: 200px;">
      <div class="logoPlannerContainer">
        <img routerLink="/almacen/inicio" class="logoPlanner" src="../../../assets/Logo-isfo-planner-1-blanco.png"
          alt="Planificación Institucional">
      </div>

      <div class="plannerOptions" *ngIf="userLogged.rol.modulos">

        <!-- <a class="item-menu" [routerLink]="['panelDeControl']" routerLinkActive="active" *ngIf="permisosCRUD.permisoLeer(modulo.panel_de_control)">
          <mat-icon>dashboard</mat-icon>Panel de Control
        </a> -->
        
        <a class="item-menu" [routerLink]="['formulacion']" routerLinkActive="active" *ngIf="permisosCRUD.permisoLeer(modulo.formulacion)">
          <mat-icon>calendar_month</mat-icon>Formulación POA
        </a>
        
        <!-- <a class="item-menu" [routerLink]="['monitoreo']" routerLinkActive="active" *ngIf="permisosCRUD.permisoLeer(modulo.monitoreo)">
          <mat-icon>traffic</mat-icon>Monitoreo
        </a> -->
        
        <a class="item-menu" [routerLink]="['planesTransversales']" routerLinkActive="active" *ngIf="permisosCRUD.permisoLeer(modulo.planes_transversales)">
          <mat-icon>chat</mat-icon>Planes Transversales
        </a>
        <!--         
        <a class="item-menu" [routerLink]="['rendicionDeCuentas']" routerLinkActive="active" >
          <mat-icon>account_balance</mat-icon>Rendicion de Cuentas
        </a>
         -->
        <a class="item-menu" [routerLink]="['materialDeApoyo']" routerLinkActive="active" *ngIf="permisosCRUD.permisoLeer(modulo.material_de_apoyo)">
          <mat-icon>library_books</mat-icon>Material de Apoyo
        </a>

        <a class="item-menu" [routerLink]="['ayuda']" routerLinkActive="active" *ngIf="permisosCRUD.permisoLeer(modulo.ayuda)">
          <mat-icon>question_mark</mat-icon>Ayuda
        </a>
        
        <a class="item-menu" [routerLink]="['mantenimiento/mantenimientoPoa']" routerLinkActive="active" > <!--*ngIf="permisosCRUD.permisoLeer(modulo.mantenimiento) && unidadOrgData.unidad == 'DIRECCION DE PLANIFICACION Y DESARROLLO'"-->
          <mat-icon>settings</mat-icon>Mantenimiento
        </a>

        <a class="item-menu" [routerLink]="['asignacionPresupuesto']" routerLinkActive="active" *ngIf="permisosCRUD.permisoLeer(modulo.asignacion_de_presupuesto) "> <!--&& unidadOrgData.subUnidad -->
          <mat-icon>settings</mat-icon>Asignación de presupuesto
        </a>

      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="componentsContent">
        <mat-toolbar class="navbar">

          <div class="btnMenuContainer">
            <button class="btnMenu" (click)="sidenavOpened = !sidenavOpened"><mat-icon>menu</mat-icon></button>&nbsp;
            <h2 class="departamento">{{userSystemService.getUnitOrg.nombre}}</h2>
            
            <button mat-icon-button [matMenuTriggerFor]="units" style="margin: 0 2px;" *ngIf="unidadOrgData.subUnidad.length > 1">
              <mat-icon>expand_more</mat-icon>
            </button>

            <mat-menu class="menuPanel" #units="matMenu" yPosition="below">
              <ng-container *ngFor="let unit of unidadOrgData.subUnidad">
                <button mat-menu-item style="padding: 10px;" (click)="changeUnitOrg({id: unit.id, nombre: unit.nombre})"> {{unit.nombre}} </button>
              </ng-container>
            </mat-menu>
          </div>

          <div class="logout">
            <span class="userName">
              <h3 class="nombre">{{userLogged.nombre}} {{userLogged.apellidos}}</h3>
              <h3 class="cargo">{{userLogged.cargo.nombre}}</h3>
            </span>
            <button class="closeAccount" [matMenuTriggerFor]="menu">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu class="menuPanel" #menu="matMenu"> <!---->
              <!-- <div mat-menu-item class="profile">
                  <mat-icon>person</mat-icon>
                  <span>asd</span>
                  <br>
                  <span class="email">das</span>
                </div> -->

              <!--(click)="changePassword()"-->
              <!-- <button mat-menu-item >
                <mat-icon>lock</mat-icon>
                <span>Cambiar contraseña</span>
              </button> -->

              <button mat-menu-item (click)="logOut()"> <!---->
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sesion</span>
              </button>
            </mat-menu>
          </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
