<div class="modal">
    <div class="fuctionContent">
        <h2 class="Stitle">Sub-Unidades</h2>
        <h2 style="color: #aaa;">{{unidadesOrg.unidadOrganizativa?.nombre}}</h2>
    </div>

    <div>
        <div style="border:1px solid  #ccc ;">

            <table>
                <thead class="headerTable">
                    <tr class="headerRow" style="background-color: #95ade93f;">
                        <th class="headerCell" style="width: 5%;"></th>
                        <th class="headerCell">Unidad Organizativa</th>
                        <th class="headerCell" style="width: 20%;">Monto Ejecutado</th>
                        <th class="headerCell" style="width: 20%;">Monto Total</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let subUnidad of unidadesOrg.unidadOrganizativa?.subUnidades">
                        <tr class="dataRow">
                            <td class="dataIndiCell" *ngIf="subUnidad.subUnidades.length > 0; else NoSubUnidades" (click)="toggleCollapse(subUnidad)">
                                <mat-icon>{{ subUnidad.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                            </td>
                            <ng-template #NoSubUnidades>
                                <td class="dataIndiCell"></td>
                            </ng-template>
                            <td class="dataIndiCell">{{ subUnidad.nombre }}</td>
                            <td class="dataIndiCell" *ngIf="subUnidad.presupuesto.length > 0; else NoMontoAsignado">{{subUnidad.presupuesto[0].montoEjecutado | currency: 'DOP ': 'symbol': '1.2-2'}}</td>
                            <td class="dataIndiCell" *ngIf="subUnidad.presupuesto.length > 0; else NoMontoAsignado">{{subUnidad.presupuesto[0].monto | currency: 'DOP ': 'symbol': '1.2-2'}}</td>
                        </tr>
                        <tr *ngIf="subUnidad.expanded">
                            <td colspan="4"> 
                                <table>
                                    <tbody>
                                        <tr class="dataRow" *ngFor="let subSubUnidad of subUnidad.subUnidades">
                                            <td class="dataIndiCell" style="width: 5%;"></td>
                                            <td class="dataIndiCell">{{ subSubUnidad?.nombre ?? "NA" }}</td>
                                            <td class="dataIndiCell" style="width: 20%;" *ngIf="subUnidad.presupuesto.length > 0; else NoMontoAsignado">{{subSubUnidad.presupuesto[0].montoEjecutado | currency: 'DOP ': 'symbol': '1.2-2'}}</td>
                                            <td class="dataIndiCell" style="width: 20%;" *ngIf="subUnidad.presupuesto.length > 0; else NoMontoAsignado">{{subSubUnidad.presupuesto[0].monto | currency: 'DOP ': 'symbol': '1.2-2'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <ng-template #NoMontoAsignado>
                            <td class="dataIndiCell">N/A</td>
                        </ng-template>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>