<div style="padding: 15px;">
  <h2 class="Stitle" >Usuarios</h2>
  <div>
    <form [formGroup]="usuariosForm" (ngSubmit)="saveChanges()" > 

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 33%;">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 33%;">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="apellidos">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 32%;">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="usuario">
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 49%;">
        <mat-label>Recinto</mat-label>
        <mat-select formControlName="idRecinto" disableRipple>
          <ng-container *ngIf="recintos.length > 0; else noRecintos">
            <mat-option [value]="recinto.idRecinto" *ngFor="let recinto of recintos">
              {{recinto.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noRecintos>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 50%;">
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="idCargo" disableRipple>
          <ng-container *ngIf="cargos.length > 0; else noCargo">
            <mat-option [value]="cargo.idCargo" *ngFor="let cargo of cargos">
              {{cargo.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noCargo>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field appearance="fill" style="width: 40%;">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="idRol" disableRipple>
          <ng-container *ngIf="roles.length > 0; else noRoles">
            <mat-option [value]="rol.idRol" *ngFor="let rol of roles">
              {{rol.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noRoles>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 59%;">
        <mat-label>Unidad Organizativa</mat-label>
        <mat-select formControlName="idUnidad" disableRipple>
          <ng-container *ngIf="unidadesOrg.length > 0; else noUnidad" >
            <mat-option [value]="unidadOrg.id" *ngFor="let unidadOrg of unidadesOrg">
              {{unidadOrg.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noUnidad>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <button type="submit" class="greenButton">Guardar cambios</button>

    </form>

    <h2 style=" margin-top: 15px;" class="Stitle">Listado de Usuarios</h2>

    <div style="border:1px solid  #ccc ;">

      <div>
        <table>
          <thead class="headerTable">
            <tr class="headerRow" style="background-color: #95ade93f;">
                <th class="headerCell">Nombre</th>
                <th class="headerCell">Apellidos</th>
                <th class="headerCell">Cargo</th>
                <th class="headerCell">Rol</th>
                <th class="headerCell">Unidad Organizativa</th>
                <th class="headerCell" style="width: 10%;"></th>
                <th class="headerCell" style="width: 10%;"></th>
            </tr>
        </thead>
          <tbody>
            <tr class="dataRow" *ngFor="let usuario of usuarios">
              <td class="dataIndiCell">{{usuario.persona.nombre}}</td>
              <td class="dataIndiCell">{{usuario.persona.apellidos}}</td>
              <td class="dataIndiCell">{{usuario.persona.cargo.nombre}}</td>
              <td class="dataIndiCell">{{usuario.rol.nombre}}</td>
              <td class="dataIndiCell">{{"usuario.persona.unidad.nombre"}}</td>
              <td class="dataIndiCell"><mat-icon class="editIcon" (click)="setValueEditUsuarios(usuario)">edit</mat-icon></td>
              <td class="dataIndiCell"><mat-icon class="removeIcon" (click)="deleteUsuarios(usuario.idUsuario)">delete</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
