<div style="padding: 15px;">
  <h2 class="Stitle">Usuarios</h2>
  <div>
    <form [formGroup]="usuariosForm" (ngSubmit)="saveChanges()">

      <mat-form-field appearance="fill" style="width: 33%;">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 33%;">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="apellidos">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 32%;">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="usuario">
      </mat-form-field><br>

      <mat-form-field appearance="fill" style="width: 50%;">
        <mat-label>Recinto</mat-label>
        <mat-select formControlName="idRecinto" disableRipple>
          <ng-container *ngIf="recintos.length > 0; else noRecintos">
            <mat-option [value]="recinto.idRecinto" *ngFor="let recinto of recintos">
              {{recinto.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noRecintos>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 49%;">
        <mat-label>Cargo</mat-label>
        <mat-select formControlName="idCargo" disableRipple>
          <ng-container *ngIf="cargos.length > 0; else noCargo">
            <mat-option [value]="cargo.idCargo" *ngFor="let cargo of cargos">
              {{cargo.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noCargo>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field><br>

      <mat-form-field appearance="fill" style="width: 50%;">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="idRol" disableRipple>
          <ng-container *ngIf="roles.length > 0; else noRoles">
            <mat-option [value]="rol.idRol" *ngFor="let rol of roles">
              {{rol.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noRoles>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 49%;">
        <mat-label>Departamento</mat-label>
        <mat-select formControlName="idDepartamento" disableRipple>
          <ng-container *ngIf="departamentos.length > 0; else noDepartamento">
            <mat-option [value]="departamento.idDepartamento" *ngFor="let departamento of departamentos">
              {{departamento.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noDepartamento>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 50%;">
        <mat-label>Division</mat-label>
        <mat-select formControlName="idDivision" disableRipple>
          <ng-container *ngIf="divisiones.length > 0; else noDivision">
            <mat-option [value]="division.id" *ngFor="let division of divisiones">
              {{division.nombre}}
            </mat-option>
          </ng-container>
          <ng-template #noDivision>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>
      <br>

      <button type="submit" class="greenButton">Guardar cambios</button>&nbsp;
      <button (click)="usuariosForm.reset()" *ngIf="usuariosForm.value.idUsuario" class="cleanButton">Limpiar
        edición</button>

    </form>

    <h2 style=" margin-top: 15px;" class="Stitle">Listado de Usuarios</h2>

    <div style="border:1px solid  #ccc ;">

      <table>
        <thead class="headerTable">
          <tr class="headerRow" style="background-color: #95ade93f;">
            <th class="headerCell">Nombre</th>
            <th class="headerCell">Apellidos</th>
            <th class="headerCell">Cargo</th>
            <th class="headerCell">Rol</th>
            <th class="headerCell">Unidad Organizativa</th>
            <th class="headerCell" style="width: 10%;"></th>
            <th class="headerCell" style="width: 10%; padding-right: 15px;">
              <div *ngIf="!usuarios" class="loader"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow" *ngFor="let usuario of usuarios">
            <td class="dataIndiCell">{{usuario.persona.nombre}}</td>
            <td class="dataIndiCell">{{usuario.persona.apellidos}}</td>
            <td class="dataIndiCell">{{usuario.persona.cargo.nombre}}</td>
            <td class="dataIndiCell">{{usuario.rol.nombre}}</td>
            <td class="dataIndiCell">{{usuario.persona.departamento.nombre}}</td>
            <td class="dataIndiCell"><mat-icon class="editIcon" (click)="setValueEditUsuarios(usuario)">edit</mat-icon>
            </td>
            <td class="dataIndiCell"><mat-icon class="removeIcon"
                (click)="deleteUsuarios(usuario.idUsuario)">delete</mat-icon></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="noData" *ngIf="usuarios && usuarios.length == 0">
      <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
    </div>

  </div>
</div>