<div style="padding: 15px;">
  <h2 class="Stitle" >Preguntas frecuentes</h2>
  <div >

    <form [formGroup]="preguntasFrecuentesForm" (ngSubmit)="saveChanges()">

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 59%;">
        <mat-label>Pregunta</mat-label>
        <input matInput formControlName="pregunta">
      </mat-form-field>&nbsp;

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 40%;">
        <mat-label>Contexto</mat-label>
        <input matInput formControlName="contexto">
      </mat-form-field>

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 100%;">
        <mat-label>Respuesta</mat-label>
        <textarea matInput formControlName="respuesta" ></textarea>
      </mat-form-field>

      <mat-form-field hideRequiredMarker appearance="fill" style="width: 40%;">
        <mat-label>Enlace relacionado</mat-label>
        <input matInput formControlName="enlance">
      </mat-form-field><br>

      <button type="submit" class="greenButton">Guardar cambios</button> &nbsp;
      <button (click)="preguntasFrecuentesForm.reset()" *ngIf="preguntasFrecuentesForm.value.id" class="cleanButton">Limpiar edición</button>
    </form>

    <h2 style=" margin-top: 15px;" class="Stitle">Listado de Preguntas frecuentes</h2>

    <div style="border:1px solid #ccc ;">

      <div>
        <table>
          <thead class="headerTable">
            <tr class="headerRow" style="background-color: #95ade93f;">
                <th class="headerCell">Pregunta</th>
                <th class="headerCell">Contexto</th>
                <th class="headerCell">Link</th>
                <th class="headerCell" style="width: 10%;"></th>
                <th class="headerCell" style="width: 10%;"></th>
            </tr>
        </thead>
          <tbody>
            <tr class="dataRow" *ngFor="let pregunta of getPreguntas">
              <td class="dataIndiCell">
                {{ pregunta.pregunta.includes('?') || pregunta.pregunta.includes('¿') ? pregunta.pregunta : '¿' + pregunta.pregunta + '?' }}
              </td>
              <td class="dataIndiCell">{{pregunta.contexto}}</td>
              <td class="dataIndiCell">{{pregunta.enlance}}</td>
              <td class="dataIndiCell" (click)="setValueEditPregunta(pregunta)"><mat-icon class="editIcon">edit</mat-icon></td>
              <td class="dataIndiCell" (click)="deletePregunta(pregunta.id)"><mat-icon class="removeIcon">delete</mat-icon></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
