<div style="padding: 15px;">
  <h2 class="Stitle" *ngIf="permisosCRUD.permisoCrear(modulo.mantenimiento) || permisosCRUD.permisoEditar(modulo.mantenimiento) && resultadoEfectoForm.value.id > 0">Resultado Efecto</h2>
  <div>
    <form style=" margin-bottom: 15px;" [formGroup]="resultadoEfectoForm" (ngSubmit)="saveChanges()" *ngIf="permisosCRUD.permisoCrear(modulo.mantenimiento) || permisosCRUD.permisoEditar(modulo.mantenimiento) && resultadoEfectoForm.value.id > 0">
      <mat-form-field appearance="fill" style="width: 40%;">
        <mat-label>Estrategia</mat-label>
        <mat-select disableRipple formControlName="idEstrategia">
          <ng-container>
            <mat-option [value]="estrat.id" *ngFor="let estrat of estrategia">
              {{estrat.nombre}}</mat-option>
          </ng-container>
          <ng-template #noEdificio>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width: 59%;">
        <mat-label>Resultado Efecto</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>

      <button type="submit" class="greenButton">Guardar cambios</button> &nbsp;
      <button (click)="resultadoEfectoForm.reset()" *ngIf="resultadoEfectoForm.value.id" class="cleanButton">Limpiar
        edición</button>

    </form>

    <h2 class="Stitle">Listado de resultados efectos</h2>

    <div style="border:1px solid  #ccc ;">

      <table>
        <thead class="headerTable">
          <tr class="headerRow" style="background-color: #95ade93f;">
            <th class="headerCell">Eje</th>
            <th class="headerCell">Estrategia</th>
            <th class="headerCell">Resultado efecto</th>
            <th class="headerCell" style="width: 5%;" *ngIf="permisosCRUD.permisoEditar(modulo.mantenimiento)"></th>
            <th class="headerCell" style="width: 5%; padding-right: 15px;"> <div *ngIf="!resultadoefectos" class="loader"></div> </th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow" *ngFor="let resultadoefecto of resultadoefectos">
            <td class="dataIndiCell">{{resultadoefecto.estrategia.ejeEstrategico.numeroEje}}</td>
            <td class="dataIndiCell">{{resultadoefecto.estrategia.nombre}}</td>
            <td class="dataIndiCell">{{resultadoefecto.nombre}}</td>
            <td class="dataIndiCell" *ngIf="permisosCRUD.permisoEditar(modulo.mantenimiento)"><mat-icon class="editIcon" (click)="setValueResultadoEfecto(resultadoefecto)">edit</mat-icon></td>
            <td class="dataIndiCell" *ngIf="permisosCRUD.permisoEliminar(modulo.mantenimiento)"><mat-icon class="removeIcon" (click)="deleteResultadoEfecto(resultadoefecto.id)">delete</mat-icon></td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="noData" *ngIf="resultadoefectos && resultadoefectos.length == 0">
      <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
    </div>

  </div>

</div>