<div class="routerComponent">

    <div class="title">
        <h1>Formulación POA</h1>
    </div>

    <div style="margin-bottom: 5px;">
        <button class="backButton" [routerLink]="['/dashboard/formulacion']"
            mat-stroked-button><mat-icon>arrow_back</mat-icon>Listado de producto</button>
        <!--(click)="backToProucto()"-->
    </div>

    <div class="titleSeguimiento">
        <h2 style="margin: 0;">Actividades Involucradas / Compartidas</h2>
    </div>

    <div *ngFor="let insumo of sharedAct">
        <div class="producto" style="margin-top: 16px;" >
            <div class="titleProducto" style="background-color: #49aa4244;">
                <span style="display: flex; margin: 10px 0;">
                    <h3>Indicador:</h3> &nbsp;
                    <h3 style="font-weight: 400;">{{insumo.nombre}}</h3>

                    <h3 style="margin-left: 40px;">Prioridad:</h3> &nbsp;
                    <h3 style="font-weight: 400;">{{insumo.prioridad}}</h3>

                    <!-- <h3 style="margin-left: 40px;">Responsable:</h3> &nbsp;
                <h3 style="font-weight: 400;">{{sharedAct.responsableUnidad.nombre}}</h3> -->
                </span>
                <span style="display: flex; ">
                    <h4><span style="font-weight: 500;">Responsable:</span> {{insumo.responsableUnidad.nombre }}</h4>
                </span>
            </div>
            <div>
                <table>
                    <thead class="headerTable" >
                        <tr class="headerRow" *ngIf="insumo.costeo.costeoDetalle.length > 0; else noInsumo">
                            <th class="headerCell">Insumo</th>
                            <th class="headerCell">Categoria</th>
                            <th class="headerCell">Auxiliar</th>
                            <th class="headerCell">Prosupuesto Estimado</th>
                            <th class="headerCell">Unidad Medida</th>
                            <th class="headerCell"></th>
                            <th class="headerCell"></th>
                        </tr>
                        <ng-template #noInsumo>
                            <tr class="headerRow">
                                <th class="headerCell">Esta actividad no contiene Insumo</th>
                            </tr>
                        </ng-template>
                    </thead>
                    <tbody *ngIf="insumo.costeo.costeoDetalle.length > 0    ">
                        <tr class="dataRow" *ngFor="let insumos of insumo.costeo.costeoDetalle">
                            <td class="dataCell">{{insumos.insumo.nombre}}</td>
                            <td class="dataCell">{{insumos.insumo.categoriaInsumo.nombre}}</td>
                            <td class="dataCell">{{insumos.insumo.auxiliar.id}}</td>
                            <td class="dataCell" *ngIf="insumos.montoTotal > 0; else noCosteo">
                                {{insumos.montoTotal | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                            <ng-template #noCosteo>
                                <td class="dataCell">{{0 | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                            </ng-template>
                            <td class="dataCell">{{insumos.unidadMedida!.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <charging-box *ngIf="!sharedAct"></charging-box>
</div>