<div class="routerComponent">

  <div class="title">
    <h1>Formulación POA</h1>
  </div>

  <div style="margin-bottom: 5px;">
    <button class="backButton" mat-stroked-button (click)="backToProucto()"><mat-icon>arrow_back</mat-icon>Producto</button>
  </div>

  <div class="actividadContainer">
    <div class="formularioActividades">

      <h2 class="Stitle">Actividad</h2>

      <form [formGroup]="actividadForm">

        <mat-form-field appearance="fill" style="width: 40%;">
          <mat-label>Actividad</mat-label>
          <input matInput required formControlName="nombre">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 15%;">
          <mat-label>Frecuencia</mat-label>
          <mat-select disableRipple formControlName="idFrecuencia">
            <ng-container *ngIf="frecuenciaList.length> 0; else noFre">
              <mat-option [value]="frecuencia.id" *ngFor="let frecuencia of frecuenciaList">
                {{frecuencia.nombre}}
              </mat-option>
            </ng-container>
            <ng-template #noFre> <mat-option>No hay campos disponibles</mat-option> </ng-template>
          </mat-select>
        </mat-form-field>&nbsp;

        <!-- <mat-form-field appearance="fill" style="width: 19.5%;">
          <mat-label>Estado</mat-label>
          <mat-select disableRipple formControlName="idEstado">
            <ng-container *ngIf="estadosList.length> 0; else noEstado">
              <mat-option [value]="estado.id" *ngFor="let estado of estadosList">
                {{estado.nombre}}
              </mat-option>
            </ng-container>
            <ng-template #noEstado> <mat-option>No hay campos disponibles</mat-option> </ng-template>
          </mat-select>
        </mat-form-field>&nbsp; -->

        <mat-form-field appearance="fill" style="width: 15%;">
          <mat-label>Meses de impacto</mat-label>
          <mat-select disableRipple multiple formControlName="mesesImpacto">
            <ng-container *ngIf="mesesList.length> 0; else noMeses">
              <mat-option [value]="mes.id" *ngFor="let mes of mesesList">
                {{mes.nombre}}
              </mat-option>
            </ng-container>
            <ng-template #noMeses> <mat-option>No hay campos disponibles</mat-option> </ng-template>
          </mat-select>
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 28.5%;">
          <mat-label>Responsable</mat-label>
          <mat-select disableRipple formControlName="idResponsableUnidad">
            <ng-container *ngIf="responsableList.length> 0; else noResp">
              <mat-option [value]="responsable.id" *ngFor="let responsable of responsableList">
                {{responsable.nombre}}
              </mat-option>
            </ng-container>
            <ng-template #noResp> <mat-option>No hay campos disponibles</mat-option> </ng-template>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field appearance="fill" style="width: 30%;">
          <mat-label>Cargo del Responsable</mat-label>
          <mat-select disableRipple formControlName="idResponsableCargo">
            <ng-container *ngIf="cargoList.length> 0; else noCargo">
              <mat-option [value]="cargo.id" *ngFor="let cargo of cargoList">
                {{cargo.nombre}}
              </mat-option>
            </ng-container>
            <ng-template #noCargo> <mat-option>No hay campos disponibles</mat-option> </ng-template>
          </mat-select>
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 30%;">
          <mat-label>Involucrados</mat-label>
          <mat-select disableRipple multiple formControlName="involucrados">
            <ng-container *ngIf="involucradoList.length> 0; else noInvol">
              <mat-option [value]="involucrado.id" *ngFor="let involucrado of involucradoList">
                {{involucrado.nombre}}
              </mat-option>
            </ng-container>
            <ng-template #noInvol> <mat-option>No hay campos disponibles</mat-option> </ng-template>
          </mat-select>
        </mat-form-field>&nbsp;

        <h3 class="Stitle">Resultado esperado cualitativo</h3>

        <mat-form-field appearance="fill" style="width: 24%;">
          <mat-label>Trimestre 1</mat-label>
          <input matInput formControlName="resultadoEsperadoCualitativoT1">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 24%;">
          <mat-label>Trimestre 2</mat-label>
          <input matInput formControlName="resultadoEsperadoCualitativoT2">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 24%;">
          <mat-label>Trimestre 3</mat-label>
          <input matInput formControlName="resultadoEsperadoCualitativoT3">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 24%;">
          <mat-label>Trimestre 4</mat-label>
          <input matInput formControlName="resultadoEsperadoCualitativoT4">
        </mat-form-field>&nbsp;

        <h3 class="Stitle">Resultado esperado Cuantitativo</h3>

        <mat-form-field appearance="fill" style="width: 24%;">
          <mat-label>Trimestre 1</mat-label>
          <input matInput type="number" formControlName="resultadoEsperadoCuantitativoT1">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 24%;">
          <mat-label>Trimestre 2</mat-label>
          <input matInput type="number" formControlName="resultadoEsperadoCuantitativoT2">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 24%;">
          <mat-label>Trimestre 3</mat-label>
          <input matInput type="number" formControlName="resultadoEsperadoCuantitativoT3">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 24%;">
          <mat-label>Trimestre 4</mat-label>
          <input matInput type="number" formControlName="resultadoEsperadoCuantitativoT4">
        </mat-form-field>&nbsp;
      </form>
    </div>

    <!-- formulario de los insumos -->
    <div class="formularioActividades">
      <h3 class="Stitle">Costeo</h3>

      <form [formGroup]="insumoForm" (ngSubmit)="agregarInsumoAlObjeto()">

        <mat-form-field appearance="fill" style="width: 10%;">
          <mat-label>Categoría de insumo</mat-label>
          <mat-select disableRipple formControlName="idCategoria" (selectionChange)="onSelectCategoria()">
            <ng-container *ngIf="categoriaInsumoList.length> 0; else noCatego">
              <mat-option [value]="categoria.id" *ngFor="let categoria of categoriaInsumoList">
                {{categoria.nombre}}
              </mat-option>
            </ng-container>
            <ng-template #noCatego> <mat-option>No hay campos disponibles</mat-option> </ng-template>
          </mat-select>
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 20%;">
          <mat-label>Insumos</mat-label>
          <mat-select disableRipple formControlName="nombre" (selectionChange)="onSelectInsumo($event.value)">
            <ng-container>
              <mat-option [value]="insumo.nombre" *ngFor="let insumo of insumoListFilter">
                {{insumo.nombre}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:10%;">
          <mat-label>Código</mat-label>
          <input matInput readonly formControlName="idInsumo">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:10%;">
          <mat-label>Auxiliar</mat-label>
          <input matInput readonly formControlName="auxiliar">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:30.5%;">
          <mat-label>Descripción de insumo</mat-label>
          <input matInput readonly formControlName="descripcion">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width: 17%;">
          <mat-label>Unidad de medida</mat-label>
          <mat-select disableRipple form formControlName="idUnidadMedida">
            <ng-container *ngIf="UnidadesMedidaList.length> 0; else noUniMed">
              <mat-option [value]="[unidadMedida.id, unidadMedida.nombre]" *ngFor="let unidadMedida of UnidadesMedidaList">
                {{unidadMedida.nombre}}
              </mat-option>
            </ng-container>
            <ng-template #noUniMed> <mat-option>No hay campos disponibles</mat-option> </ng-template>
          </mat-select>
        </mat-form-field>&nbsp;

        <br>
        
        <mat-form-field appearance="fill" style="width:30.5%;">
          <mat-label>Insumo Especifico</mat-label>
          <input matInput formControlName="descripcionInsumo">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:15%;" >
          <mat-label>Costo unitario</mat-label>
          <input matInput formControlName="costoUnitario" type="number" (input)="calculateMontoTotal()">
        </mat-form-field>&nbsp;

        <!--Detallar costeo en periodos -->
        <mat-form-field appearance="fill" style="width:15%;">
          <mat-label>cantidad</mat-label>
          <input matInput type="number" formControlName="cantidad" (input)="calculateMontoTotal()">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:20.5%;">
          <mat-label>Fecha recepción</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="fechaRecepcion">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:17%;">
          <mat-label>Total</mat-label>
          <input matInput type="number" readonly formControlName="montoTotal">
        </mat-form-field>&nbsp;
        
        <br>
        <span style="display: flex; justify-content: space-between;">
          <span></span>
          <span>
            <button class="cleanInsumoButton" mat-stroked-button (click)="insumoForm.reset()"><mat-icon>clear</mat-icon>Limpiar</button>&nbsp;
            <button type="submit" class="downLoadButton" mat-stroked-button ><mat-icon>add</mat-icon>Agregar</button>
          </span>
        </span>
      </form>
    </div>

    <span class="titleInsumos">
      <h1>Detalle costeo</h1>
    </span>

    <div style="margin-bottom: 15px;">
      <table >
        <thead class="headerTable">
          <tr class="headerRow" style="background-color: #95ade93f;">
            <th class="headerCell">Insumo</th>
            <th class="headerCell">Descripción</th>
            <th class="headerCell">Auxiliar</th>
            <th class="headerCell">Codigo</th>
            <th class="headerCell">Fecha recepción</th>
            <th class="headerCell">Unidad de medida</th>
            <th class="headerCell">Cantidad</th>
            <th class="headerCell">Costo</th>
            <th class="headerCell">Total</th>
            <th class="headerCell" style="width: 5%;"></th>
            <th class="headerCell" style="width: 5%;"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow" *ngFor="let insumo of insumosGroup; let i = index">
            <td class="dataCell">{{insumo.nombre}}</td>
            <td class="dataCell">{{insumo.descripcionInsumo}}</td>
            <td class="dataCell">{{insumo.auxiliar}}</td>
            <td class="dataCell">{{insumo.idInsumo}}</td>
            <td class="dataCell">{{insumo.fechaRecepcion }}</td>
            <td class="dataCell">{{insumo.idUnidadMedida[1]}}</td>
            <td class="dataCell">{{insumo.cantidad}}</td>
            <td class="dataCell">{{insumo.costoUnitario  | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
            <td class="dataCell">{{insumo.montoTotal  | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
            <td class="dataCell"><mat-icon class="editIcon" (click)="editInsumo(insumo, i)">edit</mat-icon></td>
            <td class="dataCell"><mat-icon class="removeIcon" (click)="removeInsumo(i)">delete</mat-icon></td>
          </tr>
        </tbody>
        <tfoot>
          <tr class="footerRow" >
            <td class="footerCell">Total</td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell">{{cantidadTotal}}</td>
            <td class="footerCell"></td>
            <td class="footerCell">{{showMontoTotal | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
            <td class="footerCell"></td>
            <td class="footerCell" style="color: grey;">{{insumosGroup.length}} Items</td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <span></span>
      <button class="greenButton" (click)="saveChanges()">Crear actividad</button>
    </div>
  </div>
</div>
