<div class="routerComponent">

    <div class="title">
        <h1>Formulación POA</h1>
    </div>

    <div style="margin-bottom: 5px;">
        <button class="backButton" mat-stroked-button [routerLink]="['../producto']"><mat-icon>arrow_back</mat-icon>Producto</button>
    </div>

    <div class="actividadContainer">
        <span class="titleActividad">
            <h1 >Actividades</h1>
        </span>

        <div class="formularioActividades">
            <h2 class="mantenimientoTitle">Nueva Actividad</h2>

            <mat-form-field hideRequiredMarker appearance="fill" style="width: 50%;">
                <mat-label>Nombre de la actividad</mat-label>
                <input matInput required>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 15%;">
              <mat-label>Región</mat-label>
              <mat-select disableRipple>
                <ng-container>
                  <mat-option *ngFor="let item of regionesList" value={{item.id}}>
                    {{item.nombre}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>&nbsp;


            <mat-form-field appearance="fill" style="width: 31%;">
              <mat-label>Provincia</mat-label>
              <mat-select disableRipple>
                <ng-container>
                  <mat-option *ngFor="let item of provinciasList" value={{item.id}}>
                    {{item.nombre}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 20%;">
              <mat-label>Municipio</mat-label>
              <mat-select disableRipple>
                <ng-container>
                  <mat-option *ngFor="let item of MunicipiosList" value={{item.id}}>
                    {{item.nombre}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 40%;">
              <mat-label>Responsable</mat-label>
              <mat-select disableRipple>
                <ng-container>
                  <mat-option *ngFor="let item of responsableList" value={{item.id}}>
                    {{item.nombre}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 36%;">
              <mat-label>Involucrados</mat-label>
              <mat-select disableRipple multiple>
                <ng-container>
                  <mat-option *ngFor="let item of involucradoList" value={{item.id}}>
                    {{item.nombre}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 33%;">
              <mat-label>Frecuencia</mat-label>
              <mat-select disableRipple>
                <ng-container>
                  <mat-option *ngFor="let item of frecuenciaList" value={{item.id}}>
                    {{item.nombre}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 33%;">
              <mat-label>Estado</mat-label>
              <mat-select disableRipple>
                <ng-container>
                  <mat-option *ngFor="let item of estadosList" value={{item.id}}>
                    {{item.nombre}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>&nbsp;


            <mat-form-field appearance="fill" style="width: 30%;">
              <mat-label>Meses de impacto</mat-label>
              <mat-select disableRipple multiple>
                <ng-container>
                  <mat-option *ngFor="let item of mesesList" value={{item.id}}>
                    {{item.nombre}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>&nbsp;

            <h3 class="mantenimientoTitle">Resultado esperado cualitativo</h3>

            <mat-form-field hideRequiredMarker appearance="fill" style="width: 24%;">
              <mat-label>Trimestre 1</mat-label>
              <input matInput >
            </mat-form-field>&nbsp;
            <mat-form-field hideRequiredMarker appearance="fill" style="width: 24%;">
              <mat-label>Trimestre 2</mat-label>
              <input matInput >
            </mat-form-field>&nbsp;
            <mat-form-field hideRequiredMarker appearance="fill" style="width: 24%;">
              <mat-label>Trimestre 3</mat-label>
              <input matInput >
            </mat-form-field>&nbsp;
            <mat-form-field hideRequiredMarker appearance="fill" style="width: 24%;">
              <mat-label>Trimestre 4</mat-label>
              <input matInput >
            </mat-form-field>&nbsp;

            <h3 class="mantenimientoTitle">Resultado esperado Cuantitativo</h3>

            <mat-form-field hideRequiredMarker appearance="fill" style="width: 24%;">
              <mat-label>Trimestre 1</mat-label>
              <input matInput type="number" >
            </mat-form-field>&nbsp;
            <mat-form-field hideRequiredMarker appearance="fill" style="width: 24%;">
              <mat-label>Trimestre 2</mat-label>
              <input matInput  type="number" >
            </mat-form-field>&nbsp;
            <mat-form-field hideRequiredMarker appearance="fill" style="width: 24%;">
              <mat-label>Trimestre 3</mat-label>
              <input matInput type="number" >
            </mat-form-field>&nbsp;
            <mat-form-field hideRequiredMarker appearance="fill" style="width: 24%;">
              <mat-label>Trimestre 4</mat-label>
              <input matInput type="number" >
            </mat-form-field>&nbsp;

        </div>

        <span class="titleInsumos">
            <h1>Insumos</h1>
            <button mat-stroked-button class="borderOrangeButton" (click)="openModal()"><mat-icon>add</mat-icon> Añadir insumo</button>
        </span>

        <div style="margin-bottom: 15px;">
            <table style="border: 1px solid #ccc;">
                <thead class="headerTable">
                    <tr class="headerRow" style="background-color: #95ade93f;">
                        <th class="headerCell"  style="width: 4%;">No.</th>
                        <th class="headerCell">Actividad</th>
                        <th class="headerCell">Responsable</th>
                        <th class="headerCell">Estructura Programática</th>
                        <th class="headerCell">Prosupuesto Estimado</th>
                        <th class="headerCell" style="width: 4%;"></th>
                        <th class="headerCell" style="width: 4%;"></th>
                        <th class="headerCell" style="width: 4%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow">
                        <td class="dataCell">1</td>
                        <td class="dataCell">Implementar modelo pedagógico para la formación de docentes</td>
                        <td class="dataCell">Vicerrectoría Académica</td>
                        <td class="dataCell">18.03.0003 Servicios de Formación de Docentes de excelencia</td>
                        <td class="dataCell">RD$20,000.00</td>
                        <td class="dataCell"><button class="statusButton"></button></td>
                        <td class="dataCell"><mat-icon class="editIcon">edit</mat-icon></td>
                        <td class="dataCell"><mat-icon class="removeIcon">delete</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <button class="greenButton">Crear actividad</button>
    </div>

</div>
