<div style="padding: 15px;">
    <h2 class="Stitle" *ngIf="permisosCRUD.permisoCrear(modulo.mantenimiento) || permisosCRUD.permisoEditar(modulo.mantenimiento) && periodosConfigForm.value.id > 0">Configuración de periodos</h2>
    <div>
        <form style=" margin-bottom: 15px;" [formGroup]="periodosConfigForm" (ngSubmit)="saveChanges()" *ngIf="permisosCRUD.permisoCrear(modulo.mantenimiento) || permisosCRUD.permisoEditar(modulo.mantenimiento) && periodosConfigForm.value.id > 0">

            <mat-form-field appearance="fill" style="width: 30%;">
                <mat-label>Proceso</mat-label>
                <mat-select disableRipple formControlName="idTipoProceso">
                    <ng-container *ngIf="tipoProcesos.length > 0; else noProceso">

                        <mat-option [value]="tipoProceso.id" *ngFor="let tipoProceso of tipoProcesos">
                            {{tipoProceso.nombre}}
                        </mat-option>

                    </ng-container>
                    <ng-template #noProceso>
                        <mat-option>No hay campos disponibles</mat-option>
                    </ng-template>
                </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 40%;">
                <mat-label>Periodo de tiempo</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Fecha Inicial" formControlName="fechaInicio">
                    <input matEndDate placeholder="Fecha Final" formControlName="fechaFin">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 28%;">
                <mat-label>Prorroga</mat-label>
                <input matInput [matDatepicker]="date" appearance="fill" formControlName="prorroga">
                <mat-datepicker-toggle [for]="date" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #date></mat-datepicker>
            </mat-form-field>

            <button type="submit" class="greenButton">Guardar cambios</button>&nbsp;
            <button (click)="periodosConfigForm.reset()" *ngIf="periodosConfigForm.value.id" class="cleanButton">Limpiar edición</button>

        </form>

        <h2 class="Stitle">Listado de Estructura Programatica</h2>

        <div style="border:1px solid  #ccc ;">

            <table>
                <thead class="headerTable">
                    <tr class="headerRow" style="background-color: #95ade93f;">
                        <th class="headerCell">Proceso</th>
                        <th class="headerCell">Fecha Inicial</th>
                        <th class="headerCell">Fecha Final</th>
                        <th class="headerCell">Prorroga</th>
                        <th class="headerCell" style="width: 5%; padding-right: 15px;"> <div *ngIf="!periodosConfig" class="loader"></div></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="dataRow" *ngFor="let periodoConfig of periodosConfig">
                        <td class="dataIndiCell">{{periodoConfig.tipoProceso.nombre}}</td>
                        <td class="dataIndiCell">{{periodoConfig.fechaInicio | date:'dd/MM/yyyy'}}</td>
                        <td class="dataIndiCell">{{periodoConfig.fechaFin | date:'dd/MM/yyyy'}}</td>
                        <td class="dataIndiCell">{{periodoConfig.prorroga | date:'dd/MM/yyyy'}}</td>
                        <td class="dataIndiCell" *ngIf="permisosCRUD.permisoEditar(modulo.mantenimiento)" ><mat-icon class="editIcon" (click)="setValueEditEstructuraPro(periodoConfig)">edit</mat-icon></td>
                    </tr>
                </tbody>
            </table>

        </div>
        
        <div class="noData" *ngIf="periodosConfig && periodosConfig.length == 0">
            <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
        </div>
    </div>

</div>