<div class="asnwerModal">
    <h1>{{pregunta_Asnwer.pregunta.includes('?') || pregunta_Asnwer.pregunta.includes('¿') ? pregunta_Asnwer.pregunta : '¿' + pregunta_Asnwer.pregunta + '?'}}</h1>
    <hr>
    <div>
        <p style="white-space: pre-line; text-align: justify;" [innerHTML]="sanitizedContent"> 
            <!-- {{pregunta_Asnwer.respuesta}}  -->
        </p>
    </div>
    <hr>
    <div>
        <h4>Enlaces relacionados</h4>
        <a style="text-decoration: none;" [href]="pregunta_Asnwer.enlance">{{pregunta_Asnwer.enlance}}</a>
    </div>
</div>