<div style="padding: 15px;">
  <h2 class="Stitle" *ngIf="permisosCRUD.permisoCrear(modulo.mantenimiento) || permisosCRUD.permisoEditar(modulo.mantenimiento) && IndicadorEstrForm.value.id > 0">Indicadores Estrategicos</h2>
  <div>
    <form style=" margin-bottom: 15px;" [formGroup]="IndicadorEstrForm" (ngSubmit)="saveChanges()" *ngIf="permisosCRUD.permisoCrear(modulo.mantenimiento) || permisosCRUD.permisoEditar(modulo.mantenimiento) && IndicadorEstrForm.value.id > 0">

      <mat-form-field appearance="fill"  style="width: 65.5%;">
        <mat-label>Indicador estrategico</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill"  style="width: 16%;">
        <mat-label>Linea Base</mat-label>
        <input matInput type="number" formControlName="lineaBase">
      </mat-form-field>&nbsp;

      <!-- <mat-form-field appearance="fill"  style="width: 16.5%;">
        <mat-label>Meta general</mat-label>
        <input matInput type="number" formControlName="meta">
      </mat-form-field>&nbsp; -->

      <div class="tipoIndicador">
        <h4>¿Indique el tipo de indicador?</h4>
        <mat-radio-group formControlName="idTipoIndicador">
          <mat-radio-button [value]="1" color="primary">Indicador de flujo</mat-radio-button>
          <!--matTooltip="Todos Los productos seran calculados con un 18% de ITBIS." [disabled]="disableItbis" -->
          <mat-radio-button [value]="2" color="primary">Indicador Acumulativo</mat-radio-button>
          <!--matTooltip="Los productos tomaran el porcentaje de ITBIS especificado al momento de la creación." [disabled]="disableItbis"-->
        </mat-radio-group>    
      </div><br>

      <div class="tipoIndicador">
        <h4>¿Meta y Linea Base seran medidos por?</h4>
        <mat-radio-group formControlName="esPorcentual">
          <mat-radio-button [value]="false" color="primary">Valor unitario</mat-radio-button>
          <mat-radio-button [value]="true" color="primary">Porcentajes</mat-radio-button>
        </mat-radio-group>    
      </div><br>

      <mat-form-field appearance="fill"  style="width: 33%;">
        <mat-label>Resultado Efecto</mat-label>
        <mat-select formControlName="idResultadoefecto">
          <ng-container *ngIf="resultadosEfecto.length > 0; else noResEfec">
            <mat-option [value]="resultadoefecto.id" *ngFor="let resultadoefecto of resultadosEfecto">
              {{resultadoefecto.nombre}}</mat-option>
          </ng-container>
          <ng-template #noResEfec>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill"  style="width: 32%;">
        <mat-label>Medio verificación</mat-label>
        <mat-select multiple disableRipple formControlName="mediosVerificaciones">
          <ng-container *ngIf="mediosVerificacion.length > 0; else noMedVer">
            <mat-option [value]="medioVerificacion.id" *ngFor="let medioVerificacion of mediosVerificacion">
              {{medioVerificacion.nombre}}</mat-option>
          </ng-container>
          <ng-template #noMedVer>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill"  style="width: 33%;">
        <mat-label>Requerimientos</mat-label>
        <mat-select multiple disableRipple formControlName="requerimientos">
          <ng-container *ngIf="requerimientos.length > 0; else noReq">
            <mat-option [value]="requerimiento.id" *ngFor="let requerimiento of requerimientos">
              {{requerimiento.nombre}}</mat-option>
          </ng-container>
          <ng-template #noReq>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <!-- <mat-form-field appearance="fill"  style="width: 33%;">
        <mat-label>Involucrados</mat-label>
        <mat-select disableRipple formControlName="involucrados" multiple>
          <ng-container *ngIf="involucrados.length > 0; else noInvol">
            <mat-option [value]="involucrado.id" *ngFor="let involucrado of involucrados">
              {{involucrado.nombre}} </mat-option>
          </ng-container>
          <ng-template #noInvol>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp; -->

      <mat-form-field appearance="fill"  style="width: 33%;">
        <mat-label>Responsables</mat-label>
        <mat-select multiple disableRipple formControlName="responsables">
          <ng-container *ngIf="responsables.length > 0; else noRes">
            <mat-option [value]="responsable.id" *ngFor="let responsable of responsables">
              {{responsable.nombre}}</mat-option>
          </ng-container>
          <ng-template #noRes>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill"  style="width: 32%;">
        <mat-label>Supuestos Riesgos</mat-label>
        <mat-select multiple disableRipple formControlName="supuestosRiesgos">
          <ng-container *ngIf="supuestosRiesgos.length > 0; else noSupRies">
            <mat-option [value]="supuestosRiesgo.id" *ngFor="let supuestosRiesgo of supuestosRiesgos">
              {{supuestosRiesgo.nombre}}</mat-option>
          </ng-container>
          <ng-template #noSupRies>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;

      <h2 class="Stitle">Cronograma</h2>

      <div formGroupName="cronograma" class="cronogramaForm">

        <span>
          <mat-form-field appearance="fill"  style="width: 50%;">
            <mat-label>Primer Año</mat-label>
            <input matInput type="number" formControlName="anio1">
          </mat-form-field>&nbsp;

          <mat-form-field appearance="fill"  style="width: 48%; ">
            <mat-label>Primera Meta</mat-label>
            <input matInput type="number" formControlName="metaAnio1">
          </mat-form-field>
        </span>

        <span>
          <mat-form-field appearance="fill"  style="width: 48%;">
            <mat-label>Segundo Año</mat-label>
            <input matInput type="number" formControlName="anio2">
          </mat-form-field>&nbsp;

          <mat-form-field appearance="fill"  style="width: 50%;">
            <mat-label>Segunda Meta</mat-label>
            <input matInput type="number" formControlName="metaAnio2">
          </mat-form-field>&nbsp;
        </span>

        <span>
          <mat-form-field appearance="fill"  style="width: 50%;">
            <mat-label>Tercer Año</mat-label>
            <input matInput type="number" formControlName="anio3">
          </mat-form-field>&nbsp;

          <mat-form-field appearance="fill"  style="width: 48%;">
            <mat-label>Tercera Meta</mat-label>
            <input matInput type="number" formControlName="metaAnio3">
          </mat-form-field>&nbsp;
        </span>

        <span>
          <mat-form-field appearance="fill"  style="width: 48%;">
            <mat-label>Cuarto Año</mat-label>
            <input matInput type="number" formControlName="anio4">
          </mat-form-field>&nbsp;

          <mat-form-field appearance="fill"  style="width: 50%;">
            <mat-label>Cuarta Meta</mat-label>
            <input matInput type="number" formControlName="metaAnio4">
          </mat-form-field>&nbsp;
        </span>

      </div>

      <br>

      <button type="submit" class="greenButton">Guardar cambios</button>&nbsp;
      <button (click)="IndicadorEstrForm.reset()" *ngIf="IndicadorEstrForm.value.id" class="cleanButton">Limpiar
        edición</button>

    </form>

    <h2 class="Stitle">Listado de Indicadores Estrategicos</h2>

    <div style="border:1px solid  #ccc ;">

      <table>
        <thead class="headerTable">
          <tr class="headerRow" style="background-color: #95ade93f;">
            <th class="headerCell">Indicador</th>
            <th class="headerCell">Resultado efecto</th>
            <th class="headerCell">Linea Base</th>
            <th class="headerCell">Meta</th>
            <th class="headerCell">Requerimientos</th>
            <!-- <th class="headerCell">Involucrados</th> -->
            <th class="headerCell">Responsables</th>
            <th class="headerCell">Supuestos Riesgos</th>
            <th class="headerCell">Medio de verificación</th>
            <th class="headerCell" style="width: 5%;"></th>
            <th class="headerCell" style="width: 5%; padding-right: 15px;">
              <div *ngIf="!indicadoresEstrategicos" class="loader"></div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="dataRow" *ngFor="let indicador of indicadoresEstrategicos">
            <td class="dataIndiCell">{{indicador.nombre}}</td>
            <td class="dataIndiCell">{{indicador.resultadoEfecto.nombre}}</td>
            <td class="dataIndiCell">{{indicador.lineaBase}}<span *ngIf="indicador.esPorcentual">%</span></td>
            <td class="dataIndiCell">{{indicador.meta}}<span *ngIf="indicador.esPorcentual">%</span></td>
            <td class="dataIndiCell"><mat-icon
                (click)="openModal(indicador.requerimientos, 'Requerimientos', indicador.nombre)"
                class="detailsIcon">list</mat-icon></td>
            <!-- <td class="dataIndiCell"><mat-icon
                (click)="openModal(indicador.involucrados, 'Involucrados', indicador.nombre)"
                class="detailsIcon">list</mat-icon></td> -->
            <td class="dataIndiCell"><mat-icon
                (click)="openModal(indicador.responsables, 'Responsables', indicador.nombre)"
                class="detailsIcon">list</mat-icon></td>
            <td class="dataIndiCell"><mat-icon
                (click)="openModal(indicador.supuestosRiesgos, 'Supuestos Riesgos', indicador.nombre)"
                class="detailsIcon">list</mat-icon></td>
            <td class="dataIndiCell"><mat-icon
                (click)="openModal(indicador.mediosverificaciones, 'Resultado Efectos', indicador.nombre)"
                class="detailsIcon">list</mat-icon></td>
            <td class="dataIndiCell" *ngIf="permisosCRUD.permisoEditar(modulo.mantenimiento)" ><mat-icon class="editIcon" (click)="setValueIndicadoresEstrategicos(indicador)">edit</mat-icon></td>
            <td class="dataIndiCell" *ngIf="permisosCRUD.permisoEliminar(modulo.mantenimiento)" ><mat-icon class="removeIcon" (click)="deleteIndicadoresEstrategicos(indicador)">delete</mat-icon></td>
          </tr>
        </tbody>
        <tfoot *ngIf="indicadoresEstrategicos && indicadoresEstrategicos.length > 0">
          <tr class="paginatorRow" >
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="footerCell"></td>
            <td class="dataIndiCell">
              <span style="display: flex; align-items: center; " *ngIf="pagination">
                <mat-icon class="rowIcon" (click)="previousPage()">navigate_before</mat-icon>
                <h5 style="margin: 0;">{{page}} / {{pagination.totalPages}}</h5>
                <mat-icon class="rowIcon" (click)="nextPage()">navigate_next</mat-icon>
            </span>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>
    
    <div class="noData" *ngIf="indicadoresEstrategicos && indicadoresEstrategicos.length == 0">
      <img class="imgNoData" src="../../../../../assets/NO_DATA_ILUSTRACION.png" alt="No hay Datos.">
    </div>
  </div>

</div>