<div class="routerComponent">

    <div class="title">
        <h1>Monitoreo y evaluación</h1>
    </div>

    <div class="titleSeguimiento">
        <h2>Matriz de Monitoreo</h2>
    </div>

    <div style="margin-bottom: 5px;">
        <button class="backButton" mat-stroked-button
            [routerLink]="['../']"><mat-icon>arrow_back</mat-icon>Seguimiento POA</button>
    </div>
    
    <div class="EjeFiltrosProductoContainer">
        <div class="filtrosContainer">
            <div class="filtrosTitleContainer">
                <h3>Filtros</h3>
            </div>
            <div class="filtrosSection">
                <h4>Ejes estratégico</h4>
                <mat-radio-group> <!--(change)="itbisOption($event)"--> <!-- formControlName="itbisGeneralEstado"-->
                    <mat-radio-button color="primary">Calidad académica.</mat-radio-button><br>
                    <mat-radio-button color="primary">Impacto sectorial de programas y proyectos
                        educativos.</mat-radio-button><br>
                    <mat-radio-button color="primary">Fortalecimiento institucional</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="filtrosSection">
                <h4>Estrategias</h4>
                <mat-radio-group> <!--(change)="itbisOption($event)"--> <!-- formControlName="itbisGeneralEstado"-->
                    <mat-checkbox>Investigación, Trasferencia e Innovación.</mat-checkbox><br>
                    <mat-checkbox>Egresados como compromiso institucional.</mat-checkbox><br>
                    <mat-checkbox>Planes de proyectos institucionales</mat-checkbox>
                </mat-radio-group>
            </div>
            <div class="filtrosSection">
                <h4>Resultado efecto</h4>
                <section>
                    <mat-checkbox>Trasnferido conocimientos y aplicaciones nuevas para mejorar la calidad educativa.</mat-checkbox>
                    <mat-checkbox>Fortalecida la capacidad investigativa de docentes investigadores, estudiantes y egresados</mat-checkbox>
                </section>
            </div>
        </div>
        <div class="ejeProductoContainer">
            <div class="EjeContainer">
                <div class="ejeSection">
                    <div>
                        <h3>Eje:</h3>
                        <p>Impacto sectorial de programas y proyectos educativos</p>
                    </div>
                    <div>
                        <h3>Objetivo Estratégico:</h3>
                        <p>Impacto sectorial de programas y proyectos educativos</p>
                    </div>

                </div>
                <div class="ejeSection estrategiaResultado">
                    <div>
                        <h3>Estrategia:</h3>
                        <p>Impacto sectorial de programas y proyectos educativos</p>
                    </div>
                    <div>
                        <h3>Resultado efecto:</h3>
                        <p>Impacto sectorial de programas y proyectos educativos</p>
                    </div>
                </div>
                <div class="ejeSectionTotal">
                    <h4><b>Presupuesto total estimado:</b> RD$150,000.00</h4>
                    <h4><b>Presupuesto total ejecutado:</b> RD$150,000.00</h4>
                </div>
            </div>
            <div class="ProductoContainer">
                <h1>Productos</h1>
                <div class="producto">
                    <div class="titleProducto">
                        <span>
                            <h3>Implementar modelo pedagógico para la formación de docentes</h3>
                            <h4 style="color: gray;">presupuesto estimado: 40,000.00</h4>
                        </span>
                        <span style="display: flex;">
                            <h4><b>Presupuesto total estimado:</b> RD$150,000.00</h4>
                            <mat-icon class="editIcon" [routerLink]="['../productoMonitoreo']">edit</mat-icon>
                        </span>
                    </div>
                    <div>
                        <table>
                            <thead class="headerTable">
                                <tr class="headerRow">
                                    <th class="headerCell">Indicador</th>
                                    <th class="headerCell" style="width: 10%;">Meta</th>
                                    <th class="headerCell" style="width: 10%;">Logro</th>
                                    <th class="headerCell" style="width: 10%;"></th>
                                    <th class="headerCell" style="width: 10%;"></th>
                                    <th class="headerCell" style="width: 10%;"></th>
                                    <th class="headerCell" style="width: 10%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="dataRow">
                                    <td class="dataCell">Cantidad de trabajos presentados en la Semana de innovación Docente (Antes Buenas Practicas)</td>
                                    <td class="dataCell" >12%</td>
                                    <td class="dataCell" >14%</td>
                                    <td class="dataCell" ><div style="width: 20px; height: 20px; background-color: green;"></div></td>
                                    <td class="dataCell" ><div style="width: 20px; height: 20px; background-color: green;"></div></td>
                                    <td class="dataCell" ><div style="width: 20px; height: 20px; background-color: green;"></div></td>
                                    <td class="dataCell" ><div style="width: 20px; height: 20px; background-color: green;"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
