<div class="modal">
  <span style="display: flex; justify-content: space-between;">
    <h2 class="Stitle">Actualizar indicador</h2>
    <h3 style="color: red;" *ngIf="
      indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta ||
      indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0"
     > La distribución de la meta anual (NO COINCIDE)</h3>
  </span>
  <div style="border:1px solid  #ccc ;">
  </div>

  <span style="display: flex; margin-top: 10px;">
    <h3 class="Stitle">Indicador:</h3> &nbsp; <h3> {{indicador.nombre}}</h3>
  </span>

  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">
    <span>
      <h3 style="margin: 0;" class="Stitle">Frecuencia:</h3> {{indicador.frecuencia.nombre}}
    </span>

    <span>
      <h3 style="margin: 0;" class="Stitle">Alcance:</h3> {{indicador.alcance.nombre}}
    </span>

    <span>
      <h3 style="margin: 0;" class="Stitle">Linea Base:</h3> {{indicador.lineaBase}}<span *ngIf="indicador.esPorcentual">%</span>
    </span>

    <span>
      <h3 style="margin: 0;" class="Stitle">Tipo de Indicador:</h3> {{indicador.tipoIndicador.nombre}}
    </span>
    
    <span>
      <h3 style="margin: 0;" class="Stitle">Medio de Verficación:</h3>{{indicador.mediosverificaciones[0].nombre}}
      <span [matMenuTriggerFor]="menu" class="seeMore">...</span>
          <mat-menu #menu="matMenu">
              <ng-container *ngFor="let medioVer of indicador.mediosverificaciones">
                <h5 style="padding: 5px 15px; margin: 0;">{{medioVer.nombre}}</h5>
              </ng-container> 
          </mat-menu>
    </span>
  </div>

  <form [formGroup]="indicadoresGestionForm" class="editarIndicadorFormContent"
    (ngSubmit)="saveChanges()">

    <h3 class="Stitle">Resultado esperado por trimestre.</h3>

    <mat-form-field appearance="fill" style="width:19%;">
      <mat-label
        [ngStyle]="{'color': indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta || indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0  ? 'red' : ''}">
        Meta anual
      </mat-label>

      <input matInput readonly disabled [value]="metaIndicadorRecinto"
      [ngStyle]="{'color': indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta || indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0  ? 'red' : '#bbb'}">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="fill" style="width:19%;">
      <mat-label>1er Trimestre</mat-label>
      <input matInput type="number" formControlName="logroEsperadoT1">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="fill" style="width:19%;">
      <mat-label>2do Trimestre</mat-label>
      <input matInput type="number" formControlName="logroEsperadoT2">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="fill" style="width:20%;">
      <mat-label>3er Trimestre</mat-label>
      <input matInput type="number" formControlName="logroEsperadoT3">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="fill" style="width:20%;">
      <mat-label>4to Trimestre</mat-label>
      <input matInput type="number" formControlName="logroEsperadoT4">
    </mat-form-field>

    <button type="submit" class="greenButton">Guardar cambios</button>
  </form>

</div>