<div class="modal">
  <span style="display: flex; justify-content: space-between;">
    <h2 class="Stitle" style="margin: 0;">Actualizar indicador</h2>
    <div *ngIf="!indicador" class="loader"></div>
    <!-- <h3 style="color: red;" *ngIf="
      indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta ||
      indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0"
     > La distribución de la meta anual (NO COINCIDE)</h3> -->
  </span>

  <hr>

  <span style="display: flex; margin-top: 10px;" *ngIf="indicador">
    <h3 class="Stitle">Indicador:</h3> &nbsp; <h3> {{indicador.nombre}}</h3>
  </span>

  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;" *ngIf="indicador">
    <span>
      <h3 style="margin: 0;" class="Stitle">Frecuencia:</h3> {{indicador.frecuencia.nombre}}
    </span>

    <span>
      <h3 style="margin: 0;" class="Stitle">Alcance:</h3> {{indicador.alcance.nombre}}
    </span>

    <span>
      <h3 style="margin: 0;" class="Stitle">Linea Base:</h3> {{indicador.lineaBase}}<span
        *ngIf="indicador.esPorcentual">%</span>
    </span>

    <span>
      <h3 style="margin: 0;" class="Stitle">Tipo de Indicador:</h3> {{indicador.tipoIndicador.nombre}}
    </span>

    <span>
      <h3 style="margin: 0;" class="Stitle">Medio de Verficación:</h3>{{indicador.mediosverificaciones[0].nombre}}
      <button [matMenuTriggerFor]="menu" mat-stroked-button *ngIf="indicador.mediosverificaciones.length > 1"> <mat-icon style="margin-left: 5px;">arrow_drop_down</mat-icon> </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let medioVer of indicador.mediosverificaciones">
          <h5 style="padding: 5px 15px; margin: 0;">{{medioVer.nombre}}</h5>
        </ng-container>
      </mat-menu>
    </span>
  </div>


  <mat-stepper linear #stepper
    *ngIf="indicador && indicador.indicadoresRecinto.length > 0 && this.userLogged.recinto.siglas == 'REC' && indicador.alcance.id == 3; else noForaLL" 
    style="margin-top: 15px;">
    <mat-step label="Meta esperada general" [completed]="indTypeValidation && indicadoresGestionForm.valid">

      <form action="" [formGroup]="indicadoresGestionForm" class="editarIndicadorFormContent">

        <h3 class="Stitle">Resultado esperado por trimestre (Meta general).</h3>

        <mat-form-field appearance="fill" style="width:19%;">
          <mat-label>Meta anual</mat-label>
          <input matInput readonly disabled [value]="metaRectoria">
        </mat-form-field>&nbsp;
        <!-- [ngStyle]="{'color': indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta || indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0  ? 'red' : ''}" -->
        <!-- [ngStyle]="{'color': indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta || indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0  ? 'red' : '#bbb'}" -->

        <mat-form-field appearance="fill" style="width:19%;">
          <mat-label>1er Trimestre</mat-label>
          <input matInput type="number" formControlName="logroEsperadoT1">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:19%;">
          <mat-label>2do Trimestre</mat-label>
          <input matInput type="number" formControlName="logroEsperadoT2">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:20%;">
          <mat-label>3er Trimestre</mat-label>
          <input matInput type="number" formControlName="logroEsperadoT3">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:20%;">
          <mat-label>4to Trimestre</mat-label>
          <input matInput type="number" formControlName="logroEsperadoT4">
        </mat-form-field>
      </form>

      <span style="display: flex; justify-content: space-between;">
        <span></span>
        <button class="borderOrangeButton" mat-stroked-button matStepperNext
        (click)="validationTypeInd(emptyFuction, indicador.meta, indicadoresGestionForm.value.logroEsperadoT4, indicadoresGestionForm.value)"
        >Siguiente</button>
      </span>
    </mat-step>

    <mat-step label="Meta esperada REC">
      <form *ngIf="indicador" [formGroup]="indicadoresGestionRecintosForm" class="editarIndicadorFormContent"
        (ngSubmit)="saveChanges()">

        <h3 class="Stitle">Resultado esperado por trimestre.</h3>

        <mat-form-field appearance="fill" style="width:19%;">
          <mat-label>Meta anual </mat-label>
          <input matInput readonly disabled [value]="metaRecintos">
          <!-- [ngStyle]="{'color': indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta || indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0  ? 'red' : ''}" -->
          <!-- [ngStyle]="{'color': indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta || indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0  ? 'red' : '#bbb'}" -->
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:19%;">
          <mat-label>1er Trimestre</mat-label>
          <input matInput type="number" formControlName="logroEsperadoT1">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:19%;">
          <mat-label>2do Trimestre</mat-label>
          <input matInput type="number" formControlName="logroEsperadoT2">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:20%;">
          <mat-label>3er Trimestre</mat-label>
          <input matInput type="number" formControlName="logroEsperadoT3">
        </mat-form-field>&nbsp;

        <mat-form-field appearance="fill" style="width:20%;">
          <mat-label>4to Trimestre</mat-label>
          <input matInput type="number" formControlName="logroEsperadoT4">
        </mat-form-field>

        <span style="display: flex; justify-content: space-between;">
          <button class="borderOrangeButton" mat-stroked-button matStepperPrevious>Anterior</button>
          <button type="submit" class="greenButton">Guardar cambios</button>
        </span>
      </form>
    </mat-step>
  </mat-stepper>

  <ng-template #noForaLL> <!--*ngIf="this.userLogged.recinto.siglas !== 'REC' "-->
    <form *ngIf="indicador" [formGroup]="indicadoresGestionRecintosForm" class="editarIndicadorFormContent"
      (ngSubmit)="saveChanges()">

      <!-- <h3 class="Stitle">Resultado esperado por trimestre (Meta general).</h3> -->
      <h3 class="Stitle">Resultado esperado por trimestre.</h3>

      <mat-form-field appearance="fill" style="width:19%;">
        <mat-label>Meta anual </mat-label>
        <input matInput readonly disabled [value]="metaRecintos">
        <!-- [ngStyle]="{'color': indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta || indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0  ? 'red' : ''}" -->
        <!-- [ngStyle]="{'color': indicador.tipoIndicador.id == 2 && sumaTotalLogros > 0 && !validacionMeta || indicador.tipoIndicador.id == 1 && !metaIndicadorFlujo && sumaTotalLogros > 0  ? 'red' : '#bbb'}" -->
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width:19%;">
        <mat-label>1er Trimestre</mat-label>
        <input matInput type="number" formControlName="logroEsperadoT1">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width:19%;">
        <mat-label>2do Trimestre</mat-label>
        <input matInput type="number" formControlName="logroEsperadoT2">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width:20%;">
        <mat-label>3er Trimestre</mat-label>
        <input matInput type="number" formControlName="logroEsperadoT3">
      </mat-form-field>&nbsp;

      <mat-form-field appearance="fill" style="width:20%;">
        <mat-label>4to Trimestre</mat-label>
        <input matInput type="number" formControlName="logroEsperadoT4">
      </mat-form-field>

      <span style="display: flex; justify-content: space-between;">
        <span></span>
        <button type="submit" class="greenButton">Guardar cambios</button>
      </span>
    </form>
  </ng-template>

</div>