<div class="ejecucionPresupuestaria">
    <div class="presupuestoTotal">
        <span>
            <h5>Presupuesto Total:</h5>
            <h1>RD$ 52,807.00</h1>
        </span>
        <div class="borderColorLeft" style="border-color: #555">
            <h4>7,604.45(70%)</h4>
            <p>Ejecucion</p>
        </div>
    </div>
    <div>
        <div class="borderColorLeft" style="border-color: #49aa42">
            <h4>7,604.45(70%)</h4>
            <p>Trimestre 1</p>
            <h3>35%</h3>
        </div>
    </div>
    <div>
        <div class="borderColorLeft" style="border-color: #EC801E">
            <h4>7,604.45(70%)</h4>
            <p>Trimestre 2</p>
            <h3>35%</h3>
        </div>
    </div>
    <div>
        <div class="borderColorLeft" style="border-color: rgb(0, 0, 119);">
            <h4>7,604.45(70%)</h4>
            <p>Trimestre 3</p>
            <h3>35%</h3>
        </div>
    </div>
    <div>
        <div class="borderColorLeft" style="border-color: #ccc">
            <h4>7,604.45(70%)</h4>
            <p>Trimestre 4</p>
            <h3>35%</h3>
        </div>
    </div>
</div>
<div>
    <h3 class="subTitle">Monto ejecutado por estructura programática</h3>
    <div class="montoEjecutadoEstructuraProgramatica">
        <div class="estructuraProgramaticaContainer">
            <div class="estructuraProgramatica">18.03.0003 Servicios de Formación de Docentes de Excelencia</div>
            <div class="estructuraProgramatica">18.03.0003 Servicios de Formación de Docentes de Excelencia</div>
            <div class="estructuraProgramatica">18.03.0003 Servicios de Formación de Docentes de Excelencia</div>
            <div class="estructuraProgramatica">18.03.0003 Servicios de Formación de Docentes de Excelencia</div>
            <div class="estructuraProgramatica">18.03.0003 Servicios de Formación de Docentes de Excelencia</div>
        </div>
        <div style="display: grid; place-items: center;">
            Grafico
        </div>
        <div class="LeyendaContainer">
            <h2>Leyenda:</h2>
            <div class="groupOfLeyendas">
                <div>
                    <div class="borderColorLeft" style="border-color: #ccc">
                        <h4>7,604.45(70%)</h4>
                        <p>Trimestre 4</p>
                        <h3>35%</h3>
                    </div>
                </div>
                <div>
                    <div class="borderColorLeft" style="border-color: #ccc">
                        <h4>7,604.45(70%)</h4>
                        <p>Trimestre 4</p>
                        <h3>35%</h3>
                    </div>
                </div>
                <div>
                    <div class="borderColorLeft" style="border-color: #ccc">
                        <h4>7,604.45(70%)</h4>
                        <p>Trimestre 4</p>
                        <h3>35%</h3>
                    </div>
                </div>
                <div>
                    <div class="borderColorLeft" style="border-color: #ccc">
                        <h4>7,604.45(70%)</h4>
                        <p>Trimestre 4</p>
                        <h3>35%</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>