<div class="ejecucionPresupuestaria">
    <div class="presupuestoTotal">
        <span>
            <h5>Presupuesto Total:</h5>
            <h1>RD$ 52,807.00</h1>
        </span>
        <span>
            <h4>7,604.45(70%)</h4>
            <p>Ejecucion</p>
        </span>
    </div>
    <span>
        <h4>7,604.45(70%)</h4>
        <p>Ejecucion</p>
        <h3>35%</h3>
    </span>
</div>
<div>
    <h3>Monto ejecutado por estructura programática</h3>
    <div>
        <div>18.03.0003 Servicios de Formación de Docentes de Excelencia</div>
    </div>
</div>