<div style="padding: 15px;">
    <h2 class="Stitle">Indicador estratégico</h2>
  
    <div>
      <form>
      <mat-form-field appearance="fill" style="width: 60%;">
        <mat-label>Seleccione un indicador estratégico</mat-label>
        <mat-select disableRipple >
          <ng-container>
            <mat-option [value]="indicador.id" *ngFor="let indicador of indicadoresEstartegicos ">
                {{indicador.nombre}}
            </mat-option>
          </ng-container>
          <ng-template>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;
  

      <mat-form-field appearance="fill" style="width: 39%;">
        <mat-label>Responsable</mat-label>
        <mat-select disableRipple>
          <ng-container>
            <mat-option>S</mat-option>
            <mat-option>N</mat-option>
          </ng-container>
          <ng-template #noEdificio>
            <mat-option>No hay campos disponibles</mat-option>
          </ng-template>
        </mat-select>
      </mat-form-field>&nbsp;
  
    </form>
  
      <button type="submit" class="greenButton">Guardar cambios</button>
  
      <h2 style=" margin-top: 15px;" class="Stitle">Responsables por indicador</h2>
  
        <div style="border:1px solid  #ccc ;">
  
      <div>
            <table>
              <thead class="headerTable">
                <tr class="headerRow" style="background-color: #95ade93f;">
                    <th class="headerCell">Indicador estrategico</th>
                    <th class="headerCell">Responsable</th>

                   
                </tr>
            </thead>
              <tbody>
                <tr class="dataRow" *ngFor="let item of indicadoresEstartegicos">
                  <td class="dataIndiCell">{{item.nombre}}</td>
                  <td class="dataIndiCell" *ngIf="item.responsables && item.responsables.length > 0">
                    <div *ngFor="let responsable of item.responsables">
                        {{responsable.nombre}}
                        <td class="dataIndiCell"><mat-icon class="editIcon">edit</mat-icon></td>
                        <td class="dataIndiCell"><mat-icon class="removeIcon">delete</mat-icon></td>
                    </div>
                 
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
  
  <!-- </div> -->
  