<div class="modal">

    <div style="display: flex; justify-content: space-between;">
        <h2 class="Stitle" style="margin: 0;">Logros esperado por trimestres</h2>
        <div *ngIf="!indicador" class="loader"></div>
    </div>

    <hr>

    <span style="display: flex; justify-content: space-between; margin-top: 10px;" *ngIf="indicador">
        <span style="display: flex;">
            <h3 class="Stitle">Indicador:</h3> &nbsp; <h3> {{indicador.nombre}}</h3>
        </span>
        <h3 style="color: #888; margin-left: 10px;"> {{indicador.responsables.nombre}}</h3>
    </span>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;" *ngIf="indicador">
        <span>
            <h3 style="margin: 0;" class="Stitle">Frecuencia:</h3> {{indicador.frecuencia.nombre}}
        </span>

        <span>
            <h3 style="margin: 0;" class="Stitle">Alcance:</h3> {{indicador.alcance.nombre}}
        </span>

        <span>
            <h3 style="margin: 0;" class="Stitle">Linea Base:</h3> {{indicador.lineaBase}}<span
                *ngIf="indicador.esPorcentual && indicador">%</span>
        </span>

        <span>
            <h3 style="margin: 0;" class="Stitle">Tipo de Indicador:</h3> {{indicador.tipoIndicador.nombre}}
        </span>

        <span>
            <h3 style="margin: 0;" class="Stitle">Medio de Verficación:</h3>{{indicador.mediosverificaciones[0].nombre}}
            <button [matMenuTriggerFor]="menu" mat-stroked-button *ngIf="indicador.mediosverificaciones.length > 1"> <mat-icon style="margin-left: 5px;">arrow_drop_down</mat-icon> </button>
            <mat-menu #menu="matMenu">
                <ng-container *ngFor="let medioVer of indicador.mediosverificaciones">
                    <h5 style="padding: 5px 15px; margin: 0;">{{medioVer.nombre}}</h5>
                </ng-container>
            </mat-menu>
        </span>
    </div>

    <table style="margin-top: 25px; border: 1px solid #ccc">
        <thead class="headerTable">
            <tr class="headerRow">
                <th class="headerCell"></th>
                <th class="headerCell">Meta</th>
                <th class="headerCell" style="width: 12%;">Logro T1</th>
                <th class="headerCell" style="width: 12%;">Logro T2</th>
                <th class="headerCell" style="width: 12%;">Logro T3</th>
                <th class="headerCell" style="width: 12%;">Logro T4</th>
            </tr>
        </thead>
        <tbody>
            <tr class="dataRow" style="background-color: #eee;">
                <td class="dataCell">META GENERAL</td>
                <td class="dataCell" style="font-weight: 500;">{{indicador.meta}}<span *ngIf="indicador.esPorcentual && indicador.meta > 0">%</span></td>
                <td class="dataCell">{{indicador.logroEsperadoT1}}<span *ngIf="indicador.esPorcentual && indicador.logroEsperadoT1 > 0">%</span></td>
                <td class="dataCell">{{indicador.logroEsperadoT2}}<span *ngIf="indicador.esPorcentual && indicador.logroEsperadoT2 > 0">%</span></td>
                <td class="dataCell">{{indicador.logroEsperadoT3}}<span *ngIf="indicador.esPorcentual && indicador.logroEsperadoT3 > 0">%</span></td>
                <td class="dataCell">{{indicador.logroEsperadoT4}}<span *ngIf="indicador.esPorcentual && indicador.logroEsperadoT4 > 0">%</span></td>
            </tr>
            <ng-container *ngFor="let metaRecintos of indicador.indicadoresRecinto">
            <tr class="dataRow" *ngIf="metaRecintos.responsable.nombre.split(' ').pop()?.length! <= 4 && indicador.alcance.id == 1 || indicador.alcance.id != 1">
                    <td class="dataCell">{{metaRecintos.responsable.nombre.split(' ').pop()?.length! <= 4 ? metaRecintos.responsable.nombre.split(' ').pop() : ' REC'}}</td>
                    <td class="dataCell"style="font-weight: 500;">{{metaRecintos.meta}}<span *ngIf="indicador.esPorcentual && metaRecintos.meta > 0">%</span></td>
                    <td class="dataCell">{{metaRecintos.logroEsperadoT1}}<span *ngIf="indicador.esPorcentual && metaRecintos.logroEsperadoT1 > 0">%</span></td>
                    <td class="dataCell">{{metaRecintos.logroEsperadoT2}}<span *ngIf="indicador.esPorcentual && metaRecintos.logroEsperadoT2 > 0">%</span></td>
                    <td class="dataCell">{{metaRecintos.logroEsperadoT3}}<span *ngIf="indicador.esPorcentual && metaRecintos.logroEsperadoT3 > 0">%</span></td>
                    <td class="dataCell">{{metaRecintos.logroEsperadoT4}}<span *ngIf="indicador.esPorcentual && metaRecintos.logroEsperadoT4 > 0">%</span></td>
                </tr>
                <ng-template #noRectoria></ng-template>
            </ng-container>
        </tbody>
    </table>

</div>