/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.enEjecucion {
    background-color: rgba(214, 214, 0, 0.986);
}

.noIniciado {
    background-color: gray;
}

.reprogramado {
    background-color: rgb(0, 0, 119);
}

.finalizado {
    background-color: rgb(0, 192, 0);
}

.Desestimado {
    background-color: red;
}

.routerComponent {
    display: grid;
    grid-template-rows: 8vh auto;
    padding: 15px;
}

.title {
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: #004b8d1a;
    border-left: #004b8d 4px solid;
    padding: 0 15px;
}

.title h1 {
    margin: 0;
    font-size: 17px;
    color: #004b8d;
}

.title,
.fuctionContent,
.titleActividad,
.ejeSectionTotal,
.titleProducto,
.titleInsumos,
.titleSeguimiento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titlePregunta {
    display: flex;
    justify-content: space-between;
}

.fuctionContent h3 {
    margin: 0;
}

.backButton {
    border: none !important;
    padding-left: 2px !important;
}

.orangeButton {
    cursor: pointer;
    color: white;
    background-color: #EC801E;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 1px 12px;
}

.colorGrreenBoton {
    color: white;
    background-color: #49aa42 !important;
    cursor: pointer;

}


.colorGrreenBoton1 {
    color: white;
    background-color: #49aa42;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 1px 25px;
    cursor: pointer;




}

.colorBlueBoton1 {
    position: absolute !important;
    color: white;
    bottom: 10px;
    /* Ajusta la distancia desde la parte inferior según tus preferencias */
    right: 10px;
    /* Ajusta la distancia desde la derecha según tus preferencias */
    color: white !important;
    background-color: #004b8d !important;
    cursor: pointer;

}

/* .end {
  position: absolute !important;
    bottom: 10px ;
    right: 120px ;
} */

.greenButton,
.cleanButton {
    color: white;
    background-color: #49aa42;
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 1px 25px;
    cursor: pointer;
}

.cleanButton {
    background-color: red;
}

.borderOrangeButton {
    color: #EC801E !important;
    border-color: #EC801E !important;
}

.cleanInsumoButton {
    color: red !important;
    border-color: red !important;
}

.downLoadButton {
    color: #004b8d !important;
    border: #004b8d 1px solid !important;
}

.EjeFiltrosProductoContainer {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    height: 70vh;
}

.ejeProductoContainer {
    padding-left: 15px;
    display: grid;
    grid-template-rows: auto 1fr;
}

.filtrosContainer {
    display: grid;
    border-radius: 5px;
    grid-template-rows: 5vh auto auto auto;
    max-height: 75vh;
}

.filtrosTitleContainer {
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #004b8d;
    background-color: #ddd;
}

mat-checkbox {
    margin-top: 10px;
}

.filtrosTitleContainer h3 {
    font-size: 18px;
    margin: 0;
}

.EjeContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    border: solid 1px #ccc;
}

.middleSection {
    border-left: 1px solid #ccc;
}

.ejeSection {
    display: grid;
    grid-template-columns: 45% 55%;
    background-color: #eee;
    border-bottom: solid 1px #ccc;
    box-sizing: border-box;
}

.estrategiaResultado {
    display: grid;
    grid-template-columns: 35% 65%;
}

.ejeSection div h3 {
    font-weight: 500;
    margin: 0;
}

.ejeSection div {
    padding: 5px;
}

.ejeSectionTotal {
    padding: 5px 3px;
}

.ejeSectionTotal h4 {
    margin: 0;
}

.EjeObjetivoEstrategico {
    display: grid;
}

.ProductoContainer {
    margin-top: 15px;
}

.ProductoContainer h1 {
    padding-left: 2px;
    font-size: 17px;
    color: #004b8d;
}

.actividadContainer h1 {
    padding-left: 2px;
    color: #004b8d;
    font-size: 17px;
}

.producto {
    display: grid;
    grid-template-rows: auto auto;
    border: #ccc 1px solid;
    margin-bottom: 15px;
}

.titleProducto {
    background-color: #ddd;
    padding-left: 15px;
}

.titleProducto h3,
.titleProducto h4 {
    margin: 0;
}


.titleProducto h3 {
    font-weight: 500;
}

.filtrosSection {
    padding: 15px 10px 10px 15px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: white;
    box-sizing: border-box;
}

.filtrosSection h4 {
    margin: 0;
    font-weight: 500;
}

.filtrosSection:last-child {
    border-bottom: 1px solid #ccc;
}

.headerTable {
    height: 6vh;
}

.headerRow {
    background-color: #eee;
}

.headerCell {
    text-align: start;
    font-weight: 500;
    padding-left: 15px;
}

.dataCell,
.dataIndiCell{
    padding-left: 15px;
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footerCell {
    height: 6vh;
    font-weight: 500;
    padding-left: 15px;
}

.dataIndiCell {
    border: none;
}

.dataRow, .footerRow{
    height: 6vh;
    border-top: 1px solid #ccc;
}

.footerRow{
    border-top: 2px solid #004b8d2a;
    border-bottom: 2px solid #004b8d2a;
}

table {
    width: 100%;
    border-collapse: collapse !important;
    flex: 1;
}

.statusButton {
    border: none;
    border-radius: 100px;
    background-color: rgb(0, 192, 0);
    width: 25px;
    height: 25px;
}


.editIcon,
.removeIcon,
.detailsIcon,
.nodesIcon,
.editNotificationIcon {
    font-size: 25px;
    margin: 0px 20px;
    color: #49aa42;
    cursor: pointer;
}

.editNotificationIcon {
    animation: colorMovement 700ms infinite alternate;
}

.removeIcon {
    color: red;
}

.detailsIcon {
    color: #004b8d;
}

.nodesIcon {
    color: #35a6b7;
}

.formularioActividades {
    min-height: 100px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.seguimientoContainer {
    display: grid;
    box-sizing: border-box;
    padding: 0 5px;
    min-height: 71vh;
    grid-template-columns: 1fr 1fr;
}

.seguimientoSection {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
    margin-bottom: 15px;
}

.help {
    font-weight: 900;
    color: green;
}

.detallePlanTransversal {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 10px;
}

.detalleActividad {
    padding: 25px 10px;
}

.detalleActividadSection {
    margin-top: 10px;
    border-bottom: 1px solid #cccccc69;
}

.detalleActividadSection h3 {
    font-weight: 500;
    margin: 0;
}

.formCosteo {
    padding: 20px 15px;
    border: 1px solid #ccc;
}

.routerLogro {
    min-height: 65vh;
}

.logroProductoUnidad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7%;
}

.indicadorProducto {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 40%;
}

.previstaNoPrevistas {
    display: grid;
    justify-items: center;
}

.totalActividades {
    display: grid;
    place-items: center;
    background-color: rgba(231, 231, 0, 0.13);
    width: 85%;
    height: 80%;
    margin-bottom: 10px;
}

.totalActividades span {
    text-align: center;
}

.totalActividades h1 {
    margin-bottom: 10px;
    font-size: 35px;
}

.totalActividades h4 {
    margin: 0;
    color: gray;
}

.estadoActividadContainer {
    grid-gap: 10px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.estadoActividad {
    height: auto;
    background-color: #ddd;
    padding: 15px 15px 15px 15px;
    border-bottom: 10px solid yellow;
}

.estadoActividad h3 {
    margin: 0;
    font-size: 29px;
}

.estadoActividad h5 {
    margin: 0;
    font-size: 15px;
}

.subTitle {
    color: gray;
    font-weight: 100;
}

.LogroUnidad {
    grid-column: 1/3;

}

.ejecucionPresupuestaria {
    display: grid;
    grid-template-columns: 20% auto auto auto auto;
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 15px;
}

.ejecucionPresupuestaria h4,
.ejecucionPresupuestaria p {
    margin: 0;
}

.ejecucionPresupuestaria h5 {
    margin-bottom: 5px;
}

.ejecucionPresupuestaria h1 {
    margin-bottom: 10px;
}

.borderColorLeft {
    padding-left: 10px;
    border-left: 10px solid yellow;
}

.borderColorLeft h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.borderColorLeft h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 500;
}

.presupuestoTotal h1 {
    font-size: 31px;
    font-weight: 500;
}

.montoEjecutadoEstructuraProgramatica {
    display: grid;
    grid-template-columns: 35% 40% 25%;
}

.estructuraProgramaticaContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 10px 10px 10px 0;
}

.estructuraProgramatica {
    padding: 15px;
    border-radius: 10px;
    background-color: #004b8d;
    color: white;
}

.groupOfLeyendas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.preguntaFrecuentesContainer {
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.iconoPreguntaContainer {
    display: grid;
    grid-template-columns: 60px auto;
}

.iconoContainer {
    align-self: center;
    width: 140%;
    height: 100%;
    background-color: #004b8d;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 50px;
    color: white;
    border: 3px solid #49aa42;
    box-sizing: border-box;
}

.preguntaFrecuente {
    background-color: #004b8d1a;
    border-radius: 15px 5px 5px 15px;
    padding: 15px 15px 15px 35px;
}

.preguntaFrecuente h2 {
    font-weight: 400;
    margin: 0 0 3px 0;
}

.preguntaFrecuente h3 {
    font-weight: 400;
    margin: 0;
}

.preguntaFrecuente h4 {
    margin: 0;
}

.rectanguloActividad {
    width: 85%;
    text-align: center;
    color: white;
}

.Stitle {
    font-weight: 400 !important;
    color: #004b8d;
}

.Stitle1 {
    font-weight: 400 !important;
    color: #004b8d;
    display: inline-block;
    /* o display: inline; */
    margin-right: 20px;
    /* Ajusta el margen entre los elementos según tus preferencias */
}

.asnwerModal {
    padding: 15px;
    width: 800px;
}

.modal {
    width: 1200px;
    padding: 25px;
}

.checkPresupuesto {
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    border: 1px solid #aaa;
    margin: 0 0 20px 10px;
}

.checkPresupuesto h3 {
    margin: 0;
    padding: 5px 10px;
}

.titlePresupuesto {
    background-color: #004b8d;
    color: white;
}

.amountPresupuesto {
    height: 100%;
    background-color: #eee;
}

.amountPresupuesto h3 {
    font-weight: 500;
}

.tipoIndicador {
    display: grid;
    align-items: center;
    grid-template-columns: 250px auto;
    width: 600px;
}

.tipoIndicador h4 {
    margin: 0;
}

.noData,
.loaderContent {
    display: grid;
    place-items: center;
    width: 100%;
}

.loaderContent {
    padding: 25px 0;
}

.editarIndicadorFormContent {
    margin-top: 15px;
}

.seeMore:hover{
    cursor: pointer;
    font-weight: 1000;
}

/*////////////////////////////////////////////////////////
    loader
////////////////////////////////////////////////////////*/

.loader,
.loaderModule {
    width: 25px;
    aspect-ratio: 1;
    float: right;
    --c: no-repeat linear-gradient(#004b8d 0 0);
    background:
        var(--c) 0% 100%,
        var(--c) 50% 100%,
        var(--c) 100% 100%;
    animation: l2 1s infinite linear;
}

.loaderModule {
    width: 40px;
    margin-bottom: 5px;
}

.loaderModuleContainer {
    width: 200px;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    place-self: center;
    margin-top: 100px;
}


@keyframes l2 {
    0% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }

    20% {
        background-size: 20% 60%, 20% 100%, 20% 100%
    }

    40% {
        background-size: 20% 80%, 20% 60%, 20% 100%
    }

    60% {
        background-size: 20% 100%, 20% 80%, 20% 60%
    }

    80% {
        background-size: 20% 100%, 20% 100%, 20% 80%
    }

    100% {
        background-size: 20% 100%, 20% 100%, 20% 100%
    }
}


@keyframes colorMovement {
    0% { 
        color: #49aa42;
    }


    100% {
        color: red;
    }
}

/*////////////////////////////////////////////////////////
    responsive
////////////////////////////////////////////////////////*/

@media (max-width: 1800px) {
    .EjeFiltrosProductoContainer {
        grid-template-columns: 25% 75%;
    }
}