<div class="modal">
    
    <div style="display: flex; justify-content: space-between;">
        <h2 class="Stitle" style="margin: 0;">Actualizar indicador</h2>
        <div *ngIf="!indicador" class="loader"></div>
    </div>

    <hr>

    <span style="display: flex; margin-top: 10px;" *ngIf="indicador">
        <h3 class="Stitle">Indicador:</h3> &nbsp; <h3> {{indicador.nombre}}</h3>
    </span>

    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;" *ngIf="indicador">
        <span>
            <h3 style="margin: 0;" class="Stitle">Frecuencia:</h3> {{indicador.frecuencia.nombre}}
        </span>

        <span>
            <h3 style="margin: 0;" class="Stitle">Alcance:</h3> {{indicador.alcance.nombre}}
        </span>

        <span>
            <h3 style="margin: 0;" class="Stitle">Linea Base:</h3> {{indicador.lineaBase}}<span *ngIf="indicador.esPorcentual">%</span>
        </span>

        <span>
            <h3 style="margin: 0;" class="Stitle">Tipo de Indicador:</h3> {{indicador.tipoIndicador.nombre}}
        </span>

        <span>
            <h3 style="margin: 0;" class="Stitle">Medio de Verficación:</h3>{{indicador.mediosverificaciones[0].nombre}}
            <button [matMenuTriggerFor]="menu" mat-stroked-button *ngIf="indicador.mediosverificaciones.length > 1"> <mat-icon style="margin-left: 5px;">arrow_drop_down</mat-icon> </button>
            <mat-menu #menu="matMenu">
                <ng-container *ngFor="let medioVer of indicador.mediosverificaciones">
                    <h5 style="padding: 5px 15px; margin: 0;">{{medioVer.nombre}}</h5>
                </ng-container>
            </mat-menu>
        </span>
    </div>

    <form *ngIf="indicador" [formGroup]="indicadoresGestionForm" class="editarIndicadorFormContent" (ngSubmit)="saveChanges()">

        <h3 class="Stitle">Indicador por recinto</h3>
        
        <div style="display: flex;">

            <mat-form-field appearance="fill"  style="flex: 1;">
                <mat-label>Meta</mat-label>
                <input matInput readonly disabled type="number" [value]="indicador.meta">
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill"  style="flex: 1;" *ngIf="this.indicador.alcance.id == 3">
                <mat-label>REC</mat-label>
                <input matInput type="number" formControlName="REC">
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill"  style="flex: 1;">
                <mat-label>FEM</mat-label>
                <input matInput type="number" formControlName="FEM">
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill"  style="flex: 1;">
                <mat-label>JVM</mat-label>
                <input matInput type="number" formControlName="JVM">
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill"  style="flex: 1;">
                <mat-label>LNNM</mat-label>
                <input matInput type="number" formControlName="LNNM">
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill"  style="flex: 1;">
                <mat-label>EPH</mat-label>
                <input matInput type="number" formControlName="EPH">
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill"  style="flex: 1;">
                <mat-label>UM</mat-label>
                <input matInput type="number" formControlName="UM">
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill"  style="flex: 1;">
                <mat-label>EMH</mat-label>
                <input matInput type="number" formControlName="EMH">
            </mat-form-field>
        </div>

        <br>
        <button type="submit" class="greenButton">Guardar cambios</button>
    </form>

</div>