<div style="padding: 15px;">
  <h2 class="Stitle">Requerimientos</h2>

  <form [formGroup]="requerimientoForm" (ngSubmit)="saveChanges()">

    <mat-form-field hideRequiredMarker appearance="fill" style="width: 60%;">
      <mat-label> Nombre del Requerimiento</mat-label>
      <input matInput formControlName="nombre">
    </mat-form-field>&nbsp;

    <mat-form-field appearance="fill" style="width: 39%;">
      <mat-label>Financiero</mat-label>
      <mat-select disableRipple formControlName="esFinanciero">
          <mat-option [value]="true">Si</mat-option>
          <mat-option [value]="false">No</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" class="greenButton">Guardar cambios</button> &nbsp;
    <button (click)="requerimientoForm.reset()" *ngIf="requerimientoForm.value.id" class="cleanButton">Limpiar edición</button>

  </form>

  <h2 style=" margin-top: 15px;" class="Stitle">Listado</h2>
  <div style="border:1px solid  #ccc ;">
    <table>
      <thead class="headerTable">
        <tr class="headerRow" style="background-color: #95ade93f;">
          <th class="headerCell">Requerimiento</th>
          <th class="headerCell">Financiero</th>
          <th class="headerCell" style="width: 10%;"></th>
          <th class="headerCell" style="width: 10%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="dataRow" *ngFor="let requerimiento of requerimientos"> 
          <td class="dataIndiCell">{{requerimiento.nombre}}</td>
          <td class="dataIndiCell" *ngIf="requerimiento.esFinanciero == true; else noFinanciero">SI</td>
          <ng-template #noFinanciero> <td class="dataIndiCell" >NO</td></ng-template>

          <td class="dataIndiCell"><mat-icon class="editIcon" (click)="setValueRequerimiento(requerimiento)">edit</mat-icon></td> 
          <td class="dataIndiCell"><mat-icon class="removeIcon" (click)="deleteRequerimiento(requerimiento.id)">delete</mat-icon></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>