<div style="padding: 15px;">
    <h2 class="Stitle">Presupuesto Institucional</h2>
    <div>
        <form [formGroup]="presupuestoInstiForm" (ngSubmit)="saveChangesButton()" > 

            <mat-form-field appearance="fill" style="width: 40%;">
                <mat-label>Presupuesto</mat-label>
                <input type="number" matInput formControlName="montoTotal">
            </mat-form-field>&nbsp;
            
            <mat-form-field appearance="fill" style="width: 59%;">
                <mat-label>Periodo de tiempo</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Fecha Inicial" formControlName="fechaInicio">
                    <input matEndDate placeholder="Fecha Final" formControlName="fechaFin">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill" style="width: 100%;" *ngIf="presupuestoInstiForm.value.id > 0 ">
                <mat-label>Justificación</mat-label>
                <textarea matInput formControlName="justicarModificacion"></textarea>
            </mat-form-field>

            <button type="submit" class="greenButton">Guardar cambios</button>
        </form>

        <h2 style=" margin-top: 15px;" class="Stitle">Listado de unidades organizativas</h2>

        <div style="border:1px solid  #ccc ;">

            <div>
                <table>
                    <thead class="headerTable">
                        <tr class="headerRow" style="background-color: #95ade93f;">
                            <th class="headerCell">Periodo</th>
                            <th class="headerCell">Justificación de cambios</th>
                            <th class="headerCell" style="width: 20%;">Monto Ejecutado</th>
                            <th class="headerCell" style="width: 20%;">Presupuesto</th>
                            <th class="headerCell" style="width: 10%;"></th>
                            <th class="headerCell" style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="dataRow" *ngFor="let presupuestoInst of presupuestosInst">
                            <td class="dataIndiCell">{{ presupuestoInst.fechaInicio | date: 'dd/MM/yyyy'}} - {{presupuestoInst.fechaFin | date: 'dd/MM/yyyy'}}</td><!---->
                            <td class="dataIndiCell">{{ presupuestoInst.justicarModificacion }}</td> 
                            <td class="dataIndiCell">{{ presupuestoInst.montoEjecutado | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                            <td class="dataIndiCell">{{ presupuestoInst.montoTotal | currency: 'DOP ': 'symbol':'1.2-2'}}</td>
                            <td class="dataIndiCell"><mat-slide-toggle color="#004b8d" [(ngModel)]="presupuestoInst.enUso" (change)="postActivarPresupuesto(presupuestoInst.id)"></mat-slide-toggle></td>
                            <td class="dataIndiCell"><mat-icon (click)="setValueEditPreInst(presupuestoInst)" class="editIcon">edit</mat-icon></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>